# Sequence Types 
1. in math: S = x1, x2, x3 , x4 .... 
2. sequences has indices .. 1, 2, 3 or S[2]
3. Positional ordering ... maintain ... sets not ... a list is sequenct ype .. set no 
4. Python starts at index 0 .. S = x0 ... 
5. Mutable .. lists... bytearrays .. immutable  ... strings ... + tuples .. range .. bytes ... tuples more then a sequence its a data structured ... range is limted than lsit ... collection s packgaets .. nametuple ... deepque 

6. Homogeneous vs Hetrogeneous sequences ... eacch elemnt is of the same type a character .. 'python' .. list are heterogeneous sequence .. each elemnt .. string list or tuple ... 

7. iterable vs a sew .. container type ob ojd iters a one by one .. anysequence type is i itereable ... 

l = [1, 2, 3,] for e in l:

... iterable is no t se as sequtencd .. like a set .. 
for i in s: .. no index in set .. not avalil .. set is iterabl 


8. standard seqence methods ... built-in sequence types .. both mutable an dimmutable .. support ... x in s ... x non in s ... s1 + s2 .. len(s) min(s) max (s) .. 

ifn an orderin between elemnts of s is defined .. 

s.index(x) ... list of first occured .. 

s.index(x, i)

indx(x, i, j) lll limte after indx i and before j ... s.index(x, i, j)

[i]
s[i:j] starts i to j ... not incldue j... 
s[i:j:k] ... extended slci c from index i .. j in steps of k .. note that slices wil retru the same container .. 
range objects are more rest ... no con .min mlx in non in inffe ..

* hashing .. immutabl seqeun my hashin  .. has(s)

 not mutabl types. 

 - concatiations. .. x =[1, 3==
 a = x + x .. x contion anothe list ... x = =2,3. are immutalb .. [], [] .. id(a=0) id[ia] id(x[0]) mutable .. immutabl not a probl .. ... mutable tehey athe sam eobject ... .. a[0]=[0]= 100  ... two address memory are shared. in casee o mutalb e. data . 

 a = 
 [utmpm ] ( 2)
 a = [x]. [x]] = same objects .. but in immutable .. 
 a = ['pyght]* 2 = p"pay, "pyth  are diffetn bojcet ..

# Sequence Types

In [2]:
l = [1,2, 3]
t = (1,2,3)
s = 'Python'

In [3]:
l[0], t[1], s[2]

(1, 2, 't')

In [4]:
for c in s:
    print(c, end='')

Python

In [5]:
s = {1,2,3}

In [6]:
for e in s:
    print(e)

1
2
3

In [7]:
for e in s: # s is iterable but not maintain the ordereds .
    print(e)

1
2
3

In [8]:
l = [1, 2, 3]
t = (1, 2, 3)

In [9]:
l[0] = 100

In [14]:
l

[100, 2, 3]

In [15]:
t[0] = 100 # cant' change the memory address on tuples.. objects

TypeError: 'tuple' object does not support item assignment

In [16]:
t = ([1,2], 2, 3)# object of list is mutable ..

In [17]:
t[0][0] = 300

In [18]:
t

([300, 2], 2, 3)

In [19]:
'a' in ['a', 4,5]

True

In [20]:
100 in range(200)

True

In [21]:
print( range(200), end=' ')

range(0, 200)

In [22]:
len(s), len(l), len(t)

(3, 3, 3)

In [23]:
# min and max ... ordering a natural ... nothing to do wit a position .. 
100 < 3

False

In [24]:
2 + 2j < 100 + 100j

TypeError: '<' not supported between instances of 'complex' and 'complex'

In [ ]:
min(1)

TypeError: 'int' object is not iterable

In [ ]:
l = [100, 19, 20]

In [25]:
min(l)

2

In [26]:
max(l)

100

In [27]:
l = [2+2j, 10+3j, 7+4j]

In [28]:
l

[(2+2j), (10+3j), (7+4j)]

In [29]:
min(l) # should be pairwise comparable elements in the list

TypeError: '<' not supported between instances of 'complex' and 'complex'

In [ ]:
'a' < 100

TypeError: '<' not supported between instances of 'str' and 'int'

In [30]:
l = ['1', 1, 34]
min(l) # herogeneous sequences are not comparealle

TypeError: '<' not supported between instances of 'int' and 'str'

In [31]:
from decimal import Decimal

In [32]:
l = [10, 10.2, Decimal('2.3')]

In [33]:
min(l)

Decimal('2.3')

In [34]:
l + [3, 5, 6]

[10, 10.2, Decimal('2.3'), 3, 5, 6]

In [35]:
l + (4, 5)

TypeError: can only concatenate list (not "tuple") to list

In [36]:
(32,4) + (9, 3, 2,)

(32, 4, 9, 3, 2)

In [37]:
list('abc') + ['d', 'f']

['a', 'b', 'c', 'd', 'f']

In [38]:
'***'.join(['555', '4', '2'])

'555***4***2'

In [39]:
','.join(['555', '4', '2'])

'555,4,2'

In [40]:
''.join(['555', '4', '2'])

'55542'

In [41]:
'abc' * 3

'abcabcabc'

In [42]:
[1,2,3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [43]:
s = "gnu's not unix"

In [44]:
enumerate(s)

In [45]:
next(enumerate(s))

(0, 'g')

In [46]:
list(enumerate(s))

[(0, 'g'),
 (1, 'n'),
 (2, 'u'),
 (3, "'"),
 (4, 's'),
 (5, ' '),
 (6, 'n'),
 (7, 'o'),
 (8, 't'),
 (9, ' '),
 (10, 'u'),
 (11, 'n'),
 (12, 'i'),
 (13, 'x')]

In [47]:
s.index('n')

1

In [48]:
s.index('n', 2)

6

In [49]:
s.index('n', 1)

1

In [50]:
s.index('n', 7)

11

In [51]:
s.index('z')

ValueError: substring not found

In [ ]:
s.index('n', '12')

TypeError: slice indices must be integers or None or have an __index__ method

In [ ]:
s.index('n', 12)

ValueError: substring not found

In [ ]:
s = 'Python'

In [52]:
l = [i for i in range(10)]

In [53]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [54]:
s[1:4]

"nu'"

In [55]:
list(enumerate(s))

[(0, 'g'),
 (1, 'n'),
 (2, 'u'),
 (3, "'"),
 (4, 's'),
 (5, ' '),
 (6, 'n'),
 (7, 'o'),
 (8, 't'),
 (9, ' '),
 (10, 'u'),
 (11, 'n'),
 (12, 'i'),
 (13, 'x')]

In [56]:
l[0:5]

[0, 1, 2, 3, 4]

In [57]:
s[4:1000]

's not unix'

In [58]:
s[:4] # start at he beginn

"gnu'"

In [59]:
s[4:]

's not unix'

In [60]:
s[:]

"gnu's not unix"

In [61]:
l = [1, 2, 3]

In [62]:
l[:
    ]

[1, 2, 3]

In [63]:
l2 = l

In [64]:
id(l), id(l2)

(4672973760, 4672973760)

In [65]:
l is l2

True

In [66]:
l = [1, 2]

In [67]:
l3 = l

In [68]:
l is l3

True

In [69]:
l1 = l[:]

In [70]:
l is l1

False

In [71]:
s[-1]

'x'

In [72]:
s[0:5:-1] # from 0 to 5 in steps of -1

''

In [73]:
s[5:0:-1]

" s'un"

In [74]:
s[::-1]

"xinu ton s'ung"

In [75]:
s

"gnu's not unix"

# Caveats ..

In [76]:
a = Decimal('10.5')
b = Decimal('10.5')

In [77]:
a is b

False

In [78]:
# decimal are immutabel 

l = [Decimal('10.5')]

In [79]:
l  = l * 2

In [80]:
l2 = l

In [81]:
l2

[Decimal('10.5'), Decimal('10.5')]

In [82]:
id(l2[0]) == id(l2[1])

True

In [83]:
# immutable elemnts .. is safe to have diffeent symbols reffer to the same addresss .. as we can change there conten ..

In [84]:
l = [[0, 0]]

In [85]:
l2 = l * 2

In [86]:
l2

[[0, 0], [0, 0]]

In [87]:
id(l2[0]) == id(l2[1])

True

In [88]:
# change contect 
l[0][0] = 100

In [89]:
l

[[100, 0]]

In [90]:
l2

[[100, 0], [100, 0]]

In [91]:
# TO over come this just .. use copy .... deep copy ...

# Mutating sequence type ... mutating object --

In [92]:
names = ['mohammed', 'hamdan']

In [93]:
id(names)

4673548992

In [94]:
names = names + ['saleh']

In [95]:
names

['mohammed', 'hamdan', 'saleh']

In [96]:
id(names) # nut mutaion ...

4672856768

In [97]:
# Mutating the objtect mean s changein the object's state without createtn a new object ... 

names.append("Ali")

In [98]:
print(names)

['mohammed', 'hamdan', 'saleh', 'Ali']

In [99]:
id(names) # memory address has not changed .. that is mutated ..

4672856768

In [100]:
# mutating .. 
names[0] = 'x'

In [101]:
names, id(names)

(['x', 'hamdan', 'saleh', 'Ali'], 4672856768)

In [102]:
names[0:2] = (1, 2, 3)

In [103]:
names, id(names)

([1, 2, 3, 'saleh', 'Ali'], 4672856768)

In [104]:
del names[0:2]

In [105]:
names, id(names)

([3, 'saleh', 'Ali'], 4672856768)

In [106]:
names[0:2:1] = 'xx'

In [107]:
names, id(names)

(['x', 'x', 'Ali'], 4672856768)

In [108]:
names.clear()

In [109]:
names, id(names)

([], 4672856768)

In [110]:
names.append(2)

In [111]:
names, id(names)

([2], 4672856768)

In [112]:
names.insert(3, 'me')

In [113]:
names

[2, 'me']

In [114]:
id(names)

4672856768

In [115]:
names.extend((2,3,4,5,6))

In [116]:
names, id(names)

([2, 'me', 2, 3, 4, 5, 6], 4672856768)

In [117]:
names.pop(3)

3

In [118]:
id(names)

4672856768

In [119]:
names.remove(2)

In [120]:
names.reverse()

In [121]:
names, id(names)

([6, 5, 4, 2, 'me'], 4672856768)

In [122]:
n = names.copy() # shallow copy

In [123]:
n

[6, 5, 4, 2, 'me']

In [124]:
id(n)

4673552000

In [125]:
n = names[:]
n

[6, 5, 4, 2, 'me']

In [126]:
id(n)

4673898944

In [127]:
n = names.deepcopy()

AttributeError: 'list' object has no attribute 'deepcopy'

# Mutable Sequence Types

In [128]:
l = [1, 2, 3, 4 ,6]

In [129]:
id(l)

4672541632

In [130]:
l[0] = [1,1,1,1]

In [131]:
l

[[1, 1, 1, 1], 2, 3, 4, 6]

In [132]:
l.clear()

In [133]:
l, id(l)

([], 4672541632)

In [134]:
l = [1,2,3,4,5]

In [135]:
l = [] # change the assingment ...

In [136]:
id(l)

4673942720

In [137]:
suits = ["spades", "hearts", "Diamons"]

In [138]:
alias = suits

In [139]:
id(suits), id(suits)

(4672643072, 4672643072)

In [140]:
alias.clear()

In [141]:
alias, suits

([], [])

In [142]:
suits = ["spades", "hearts", "Diamons"]

In [143]:
def sth(l):
    l.append('None')

In [144]:
sth(suits)

In [145]:
suits

['spades', 'hearts', 'Diamons', 'None']

In [146]:
def sth(l):
    l.clear()

In [147]:
sth(suits)

In [148]:
suits

[]

In [149]:
l = [1,2,3,4,]

In [150]:
l

[1, 2, 3, 4]

In [151]:
l[0:2]

[1, 2]

In [152]:
l[0:2] = ('a', 'b', 'c', 'd')

In [153]:
l

['a', 'b', 'c', 'd', 3, 4]

In [154]:
id(l)

4672540608

In [155]:
l = [1,2,3]

In [156]:
id(l)

4672635840

In [157]:
l = l+[2]

In [158]:
l

[1, 2, 3, 2]

In [159]:
id(l)

4672720320

In [160]:
l = [1, 2,3]

In [161]:
l.append(222)

In [162]:
l

[1, 2, 3, 222]

In [163]:
id(l)

4673200512

In [164]:
r = l.append(333)

In [165]:
l

[1, 2, 3, 222, 333]

In [166]:
id(l)

4673200512

In [167]:
l.clear()

In [168]:
l.extend([2,3])

In [169]:
l

[2, 3]

In [170]:
l.extend(['a','b'])

In [171]:
l

[2, 3, 'a', 'b']

In [172]:
l = [1, 2, 3]

In [173]:
l.extend({'X', 'a', 'A', 2323})

In [174]:
l

[1, 2, 3, 'a', 2323, 'A', 'X']

In [175]:
# iterable cont rely on ordering ... 

l = [1,2,3,4]

In [176]:
l

[1, 2, 3, 4]

In [177]:
id(l)

4672635840

In [178]:
l.pop()

4

In [179]:
l

[1, 2, 3]

In [180]:
id(l)

4672635840

In [181]:
result = l.pop(1)

In [182]:
result

2

In [183]:
id(l)

4672635840

In [184]:
l

[1, 3]

In [185]:
id(l)

4672635840

In [186]:
del l[1]

In [187]:
l

[1]

In [188]:
id(l)

4672635840

In [189]:
l = [i for i in range(11)]

In [190]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [191]:
del l[1:3]

In [192]:
l

[0, 3, 4, 5, 6, 7, 8, 9, 10]

In [193]:
l.insert(3, 'sss')

In [194]:
l

[0, 3, 4, 'sss', 5, 6, 7, 8, 9, 10]

In [195]:
l[::-1]

[10, 9, 8, 7, 6, 5, 'sss', 4, 3, 0]

In [196]:
l2 = l[::-1]

In [197]:
l is l2

False

In [198]:
l2 = l.reverse() # inplace reversal

In [199]:
l.reverse() # inplace reversal

In [200]:
l, l2

([0, 3, 4, 'sss', 5, 6, 7, 8, 9, 10], None)

In [201]:
l is l2

False

In [202]:
l

[0, 3, 4, 'sss', 5, 6, 7, 8, 9, 10]

In [203]:
id(l)

4673901888

In [204]:
l.reverse()

In [205]:
id(l)

4673901888

In [206]:
l

[10, 9, 8, 7, 6, 5, 'sss', 4, 3, 0]

In [207]:
id(l)

4673901888

In [208]:
l

[10, 9, 8, 7, 6, 5, 'sss', 4, 3, 0]

In [209]:
l2 = l[:]

In [210]:
l2

[10, 9, 8, 7, 6, 5, 'sss', 4, 3, 0]

In [211]:
l is l2

False

In [212]:
id(l), id(l2)

(4673901888, 4672434368)

In [213]:
l3 = l.copy()

In [214]:
l3

[10, 9, 8, 7, 6, 5, 'sss', 4, 3, 0]

In [215]:
l = [['a', 'b', 'c'], 'x', 'z']

In [216]:
l

[['a', 'b', 'c'], 'x', 'z']

In [217]:
id(l), id(l[0]), id(l[1])

(4672328064, 4674553600, 4509648112)

In [218]:
l2 = l.copy()

In [219]:
id(l2)

4674561344

In [220]:
l2

[['a', 'b', 'c'], 'x', 'z']

In [221]:
id(l2[0]) == id(l1[0]) , id(l2[0]) is id(l1[0])

(False, False)

In [222]:
id(l2[0]) ,id(l1[0]) , id(l2[0]) , id(l1[0])

(4674553600, 4508909808, 4674553600, 4508909808)

In [223]:
l2

[['a', 'b', 'c'], 'x', 'z']

In [224]:
l

[['a', 'b', 'c'], 'x', 'z']

In [225]:
l2

[['a', 'b', 'c'], 'x', 'z']

In [226]:
l[0].append('22222')

In [227]:
l

[['a', 'b', 'c', '22222'], 'x', 'z']

In [228]:
l2

[['a', 'b', 'c', '22222'], 'x', 'z']

# Deep Copy ... list vs tuple .. 
# Tuple are data sturcture and are immutable .. but list immutable .. m
1. constanct folding ... process of recognizing and evaluation constanct expression at compile time rather *computing them at runtime*

In [229]:
from dis import dis

In [230]:
(1, 2, 3) # compile a tuple

(1, 2, 3)

In [231]:
[1, 2, 3] # compile a list

[1, 2, 3]

In [232]:
compile('(1,2,3,"a")', 'starting', 'eval')

In [233]:
dis(compile('(1,2,3,"a")', 'starting', 'eval'))

  1           0 LOAD_CONST               0 ((1, 2, 3, 'a'))
              2 RETURN_VALUE

In [234]:
dis(compile('[1,2,3,"a"]', 'starting', 'eval'))

  1           0 BUILD_LIST               0
              2 LOAD_CONST               0 ((1, 2, 3, 'a'))
              4 LIST_EXTEND              1
              6 RETURN_VALUE

In [235]:
dis(compile('(1,2,3,[0,2,3,4,5,6])', 'starting', 'eval'))

  1           0 LOAD_CONST               0 (1)
              2 LOAD_CONST               1 (2)
              4 LOAD_CONST               2 (3)
              6 BUILD_LIST               0
              8 LOAD_CONST               3 ((0, 2, 3, 4, 5, 6))
             10 LIST_EXTEND              1
             12 BUILD_TUPLE              4
             14 RETURN_VALUE

In [236]:
from timeit import timeit

In [237]:
timeit("(1,2,3,4,5,6,7,8,9)", number=10000000)

0.13058357598492876

In [238]:
timeit("[1,2,3,4,5,6,7,8,9]", number=10000000)

0.8256283790105954

# Take away: if you have a list that contain immutable types .. and not need 'mutability' like to add or delete or replacing from that sequence ... then better suing a tuple than a list

In [239]:
def fn1():
    pass

In [240]:
dis(compile('(fn1, 10, 20)', 'start', 'eval'))

  1           0 LOAD_NAME                0 (fn1)
              2 LOAD_CONST               0 (10)
              4 LOAD_CONST               1 (20)
              6 BUILD_TUPLE              3
              8 RETURN_VALUE

In [241]:
dis(compile('(1,2,3,[0,2,3,4,5,6])', 'starting', 'eval'))

  1           0 LOAD_CONST               0 (1)
              2 LOAD_CONST               1 (2)
              4 LOAD_CONST               2 (3)
              6 BUILD_LIST               0
              8 LOAD_CONST               3 ((0, 2, 3, 4, 5, 6))
             10 LIST_EXTEND              1
             12 BUILD_TUPLE              4
             14 RETURN_VALUE

In [242]:
dis(compile('[1,2,3,[0,2,3,4,5,6]]', 'starting', 'eval'))

  1           0 LOAD_CONST               0 (1)
              2 LOAD_CONST               1 (2)
              4 LOAD_CONST               2 (3)
              6 BUILD_LIST               0
              8 LOAD_CONST               3 ((0, 2, 3, 4, 5, 6))
             10 LIST_EXTEND              1
             12 BUILD_LIST               4
             14 RETURN_VALUE

In [243]:
timeit("([1,2], 10, 20)", number=100000000)

8.713066834985511

In [244]:
timeit("[[1,2], 10, 20]", number=100000000)

10.176629121997394

In [245]:
l1 = [i for i in range(11)]

In [246]:
l1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [247]:
t1 = ((i for i in range(11)))

In [248]:
t1 = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [249]:
t1

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [250]:
l1 is t1

False

In [251]:
l1, t1

([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10], (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10))

In [252]:
l2 = list(l1)

In [253]:
l2 is l2

True

In [254]:
t2 = tuple(t1)

In [255]:
t1

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [256]:
t1 is t2, id(t1) , id(t2)

(True, 4672079296, 4672079296)

# Dont take a shallow copy in an immutable sequence like list ... because  you cannot muated anyway - sot it is safe ..

In [258]:
timeit('tuple((1,2,3,4,5))', number=40000000)

2.4139416179968975

In [260]:
timeit('list((1,2,3,4,5))', number=40000000) # the inner tuple consider as constant .. however th list consturct a new list

5.089660474011907

# Storage Effieciency

In [262]:
import sys 
from sys import version_info
version_info

sys.version_info(major=3, minor=10, micro=7, releaselevel='final', serial=0)

In [264]:
for i in range(10):
    c = tuple(range(i+1)) # every time run the tuple .. an elemnt longer .. 0 > 1 .. and son on 
    size_c = sys.getsizeof(c) # number of bytes that used each etiration -- how it compares 
    print(f'{i+1} items: {size_c}')

1 items: 48
2 items: 56
3 items: 64
4 items: 72
5 items: 80
6 items: 88
7 items: 96
8 items: 104
9 items: 112
10 items: 120

In [266]:
t = tuple()
prev = sys.getsizeof(t)

for i in range(10):
    c = tuple(range(i+1)) # every time run the tuple .. an elemnt longer .. 0 > 1 .. and son on 
    size_c = sys.getsizeof(c) # number of bytes that used each etiration -- how it compares 
    delta, prev = size_c - prev, size_c
    print(f'{i+1} items: {size_c}, delta={delta}')

1 items: 48, delta=8
2 items: 56, delta=8
3 items: 64, delta=8
4 items: 72, delta=8
5 items: 80, delta=8
6 items: 88, delta=8
7 items: 96, delta=8
8 items: 104, delta=8
9 items: 112, delta=8
10 items: 120, delta=8

In [267]:
l = list()

prev = sys.getsizeof(l)

for i in range(10):
    c = list(range(i+1))
    size_c = sys.getsizeof(c) # number of bytes that used each etiration -- how it compares 
    delta, prev = size_c - prev, size_c
    print(f'{i+1} items: {size_c}, delta={delta}')

1 items: 72, delta=16
2 items: 72, delta=0
3 items: 88, delta=16
4 items: 88, delta=0
5 items: 104, delta=16
6 items: 104, delta=0
7 items: 120, delta=16
8 items: 120, delta=0
9 items: 136, delta=16
10 items: 136, delta=0

In [268]:
c = list()
prev = sys.getsizeof(c)

print(f"0 items: {prev}")
for i in range(255):
    c.append(i)
    size_c = sys.getsizeof(c) # number of bytes that used each etiration -- how it compares 
    delta, prev = size_c - prev, size_c
    print(f'{i+1} items: {size_c}, delta={delta}') # expand by multipl slots ... preallocation algorithm .. pre allocate .. tradeoff ..

0 items: 56
1 items: 88, delta=32
2 items: 88, delta=0
3 items: 88, delta=0
4 items: 88, delta=0
5 items: 120, delta=32
6 items: 120, delta=0
7 items: 120, delta=0
8 items: 120, delta=0
9 items: 184, delta=64
10 items: 184, delta=0
11 items: 184, delta=0
12 items: 184, delta=0
13 items: 184, delta=0
14 items: 184, delta=0
15 items: 184, delta=0
16 items: 184, delta=0
17 items: 248, delta=64
18 items: 248, delta=0
19 items: 248, delta=0
20 items: 248, delta=0
21 items: 248, delta=0
22 items: 248, delta=0
23 items: 248, delta=0
24 items: 248, delta=0
25 items: 312, delta=64
26 items: 312, delta=0
27 items: 312, delta=0
28 items: 312, delta=0
29 items: 312, delta=0
30 items: 312, delta=0
31 items: 312, delta=0
32 items: 312, delta=0
33 items: 376, delta=64
34 items: 376, delta=0
35 items: 376, delta=0
36 items: 376, delta=0
37 items: 376, delta=0
38 items: 376, delta=0
39 items: 376, delta=0
40 items: 376, delta=0
41 items: 472, delta=96
42 items: 472, delta=0
43 items: 472, delta=0
44 items: 472, delta=0
45 items: 472, delta=0
46 items: 472, delta=0
47 items: 472, delta=0
48 items: 472, delta=0
49 items: 472, delta=0
50 items: 472, delta=0
51 items: 472, delta=0
52 items: 472, delta=0
53 items: 568, delta=96
54 items: 568, delta=0
55 items: 568, delta=0
56 items: 568, delta=0
57 items: 568, delta=0
58 items: 568, delta=0
59 items: 568, delta=0
60 items: 568, delta=0
61 items: 568, delta=0
62 items: 568, delta=0
63 items: 568, delta=0
64 items: 568, delta=0
65 items: 664, delta=96
66 items: 664, delta=0
67 items: 664, delta=0
68 items: 664, delta=0
69 items: 664, delta=0
70 items: 664, delta=0
71 items: 664, delta=0
72 items: 664, delta=0
73 items: 664, delta=0
74 items: 664, delta=0
75 items: 664, delta=0
76 items: 664, delta=0
77 items: 792, delta=128
78 items: 792, delta=0
79 items: 792, delta=0
80 items: 792, delta=0
81 items: 792, delta=0
82 items: 792, delta=0
83 items: 792, delta=0
84 items: 792, delta=0
85 items: 792, delta=0
86 items: 792, delta=0
87 items: 792, delta=0
88 items: 792, delta=0
89 items: 792, delta=0
90 items: 792, delta=0
91 items: 792, delta=0
92 items: 792, delta=0
93 items: 920, delta=128
94 items: 920, delta=0
95 items: 920, delta=0
96 items: 920, delta=0
97 items: 920, delta=0
98 items: 920, delta=0
99 items: 920, delta=0
100 items: 920, delta=0
101 items: 920, delta=0
102 items: 920, delta=0
103 items: 920, delta=0
104 items: 920, delta=0
105 items: 920, delta=0
106 items: 920, delta=0
107 items: 920, delta=0
108 items: 920, delta=0
109 items: 1080, delta=160
110 items: 1080, delta=0
111 items: 1080, delta=0
112 items: 1080, delta=0
113 items: 1080, delta=0
114 items: 1080, delta=0
115 items: 1080, delta=0
116 items: 1080, delta=0
117 items: 1080, delta=0
118 items: 1080, delta=0
119 items: 1080, delta=0
120 items: 1080, delta=0
121 items: 1080, delta=0
122 items: 1080, delta=0
123 items: 1080, delta=0
124 items: 1080, delta=0
125 items: 1080, delta=0
126 items: 1080, delta=0
127 items: 1080, delta=0
128 items: 1080, delta=0
129 items: 1240, delta=160
130 items: 1240, delta=0
131 items: 1240, delta=0
132 items: 1240, delta=0
133 items: 1240, delta=0
134 items: 1240, delta=0
135 items: 1240, delta=0
136 items: 1240, delta=0
137 items: 1240, delta=0
138 items: 1240, delta=0
139 items: 1240, delta=0
140 items: 1240, delta=0
141 items: 1240, delta=0
142 items: 1240, delta=0
143 items: 1240, delta=0
144 items: 1240, delta=0
145 items: 1240, delta=0
146 items: 1240, delta=0
147 items: 1240, delta=0
148 items: 1240, delta=0
149 items: 1432, delta=192
150 items: 1432, delta=0
151 items: 1432, delta=0
152 items: 1432, delta=0
153 items: 1432, delta=0
154 items: 1432, delta=0
155 items: 1432, delta=0
156 items: 1432, delta=0
157 items: 1432, delta=0
158 items: 1432, delta=0
159 items: 1432, delta=0
160 items: 1432, delta=0
161 items: 1432, delta=0
162 items: 1432, delta=0
163 items: 1432, delta=0
164 items: 1432, delta=0
165 items: 1432, delta=0
166 items: 1432, delta=0
167 items: 1432, delta=0
168 items: 1432, delta=0
169 items: 1432, delta=0
170 items: 1432, delta=0
171 items: 1432, delta=0
172 items: 1432, delta=0
173 items: 1656, delta=224
174 items: 1656, delta=0
175 items: 1656, delta=0
176 items: 1656, delta=0
177 items: 1656, delta=0
178 items: 1656, delta=0
179 items: 1656, delta=0
180 items: 1656, delta=0
181 items: 1656, delta=0
182 items: 1656, delta=0
183 items: 1656, delta=0
184 items: 1656, delta=0
185 items: 1656, delta=0
186 items: 1656, delta=0
187 items: 1656, delta=0
188 items: 1656, delta=0
189 items: 1656, delta=0
190 items: 1656, delta=0
191 items: 1656, delta=0
192 items: 1656, delta=0
193 items: 1656, delta=0
194 items: 1656, delta=0
195 items: 1656, delta=0
196 items: 1656, delta=0
197 items: 1656, delta=0
198 items: 1656, delta=0
199 items: 1656, delta=0
200 items: 1656, delta=0
201 items: 1912, delta=256
202 items: 1912, delta=0
203 items: 1912, delta=0
204 items: 1912, delta=0
205 items: 1912, delta=0
206 items: 1912, delta=0
207 items: 1912, delta=0
208 items: 1912, delta=0
209 items: 1912, delta=0
210 items: 1912, delta=0
211 items: 1912, delta=0
212 items: 1912, delta=0
213 items: 1912, delta=0
214 items: 1912, delta=0
215 items: 1912, delta=0
216 items: 1912, delta=0
217 items: 1912, delta=0
218 items: 1912, delta=0
219 items: 1912, delta=0
220 items: 1912, delta=0
221 items: 1912, delta=0
222 items: 1912, delta=0
223 items: 1912, delta=0
224 items: 1912, delta=0
225 items: 1912, delta=0
226 items: 1912, delta=0
227 items: 1912, delta=0
228 items: 1912, delta=0
229 items: 1912, delta=0
230 items: 1912, delta=0
231 items: 1912, delta=0
232 items: 1912, delta=0
233 items: 2200, delta=288
234 items: 2200, delta=0
235 items: 2200, delta=0
236 items: 2200, delta=0
237 items: 2200, delta=0
238 items: 2200, delta=0
239 items: 2200, delta=0
240 items: 2200, delta=0
241 items: 2200, delta=0
242 items: 2200, delta=0
243 items: 2200, delta=0
244 items: 2200, delta=0
245 items: 2200, delta=0
246 items: 2200, delta=0
247 items: 2200, delta=0
248 items: 2200, delta=0
249 items: 2200, delta=0
250 items: 2200, delta=0
251 items: 2200, delta=0
252 items: 2200, delta=0
253 items: 2200, delta=0
254 items: 2200, delta=0
255 items: 2200, delta=0

In [271]:
t = tuple(range(100000))

In [272]:
l = list(t)

In [273]:
timeit('t[99_999]', globals=globals(), number=10_000_000) # tuple have a direct access of pointers to their elemnts

0.5484520900063217

In [275]:
timeit('l[99_999]', globals=globals(), number=10_000_000) # list, firts essentially access another array that contains pointers to the element of the list .. as CPython impleneted .

0.5153061400051229