# update relvent to python 6

In [1]:
from typing import List

In [2]:
def squares(l: List[int]) -> List[int]:
    return [e ** 2 for e in l]

In [3]:
mylist = [1,23,5]

In [4]:
squares(mylist)

[1, 529, 25]

In [7]:
dict = {3:'a', 5:'x'}

In [8]:
squares(dict)

[9, 25]

In [9]:
# Asynchronous ENhancemtn .. programming.... PLUS A LOT more ..

# Python 3. 6 - Dictionary ordering .. order .dict in standard libaryr .. this is in 3.6 ... and higher ... 
1. 3.6 is not official fact .. however 3.7 gauntees the ordred dictioary .. so if you code 3.6 higher ... rely on dictioary ordered ...

In [10]:
from sys import version_info

In [11]:
version_info

sys.version_info(major=3, minor=10, micro=7, releaselevel='final', serial=0)

In [12]:
d = {'b': 1, 'a':2}

In [13]:
d.keys(), d.values(), d.items()

(dict_keys(['b', 'a']), dict_values([1, 2]), dict_items([('b', 1), ('a', 2)]))

In [14]:
d['x'] = 99

In [15]:
d.keys(), d.values(), d.items()

(dict_keys(['b', 'a', 'x']),
 dict_values([1, 2, 99]),
 dict_items([('b', 1), ('a', 2), ('x', 99)]))

In [16]:
del d['a']

In [17]:
d.items()

dict_items([('b', 1), ('x', 99)])

In [18]:
d['a' ] = 1

In [20]:
d.items() # perseve the ordering ... in the dictionry with outh order.dict ...

dict_items([('b', 1), ('x', 99), ('a', 1)])

In [21]:
d.items()

dict_items([('b', 1), ('x', 99), ('a', 1)])

In [22]:
d

{'b': 1, 'x': 99, 'a': 1}

In [23]:
print(d)

{'b': 1, 'x': 99, 'a': 1}

In [24]:
d.popitem()

('a', 1)

In [25]:
d

{'b': 1, 'x': 99}

In [26]:
# dictionary as stack .. but better using a list

In [29]:
a = [2, 3,54]

In [30]:
a.pop()

54

In [31]:
a

[2, 3]

In [38]:
d1 = {'a':1, 'b':200}
d2 ={'a':100, 'd':200, 'c':5}

In [39]:
d1.update(d2)

In [40]:
d1

{'a': 100, 'b': 200, 'd': 200, 'c': 5}

* move_to_end(key, last=True)

* popitem(last=True) 

* popitem(last=False) # remove the first elemtn ..

* reversed() # to revesr the iteration

**Move to End with last = True**

In [43]:
d

{'b': 1, 'x': 99}

In [44]:
d1

{'a': 100, 'b': 200, 'd': 200, 'c': 5}

In [46]:
d1['a'] = d1.pop('a')

In [47]:
d1

{'b': 200, 'd': 200, 'c': 5, 'a': 100}

**MOve to end(last=False)**

In [48]:
d1

{'b': 200, 'd': 200, 'c': 5, 'a': 100}

* d = {'b': 200, 'd': 200, 'c': 5, 'a': 100} # move c to the bignning 

* step1: d = {'b': 200, 'd': 200,  'a': 100, 'c': 5}

* step2: d = { 'd': 200,  'a': 100, 'c': 5, 'b': 200}

* step3: d = { 'a': 100, 'c': 5, 'b': 200, 'd': 200}

* step4: d = { 'c': 5, 'b': 200, 'd': 200,  'a': 100}

In [49]:
print("start:", d1)

start: {'b': 200, 'd': 200, 'c': 5, 'a': 100}

In [52]:
d1['c'] = d1.pop('c')
print('moved c to end', d1)

moved c to end {'b': 200, 'd': 200, 'a': 100, 'c': 5}

In [53]:
for i in range(len(d1)-1):
    key = next(iter(d1.keys()))
    d1[key] = d1.pop(key)
    
print('moved a to end', d1)

moved c to end {'c': 5, 'b': 200, 'd': 200, 'a': 100}

**Pop last item**

In [54]:
d1

{'c': 5, 'b': 200, 'd': 200, 'a': 100}

In [56]:
d1.popitem()

('a', 100)

In [57]:
d1

{'c': 5, 'b': 200, 'd': 200}

**Pop first item**

In [58]:
d1

{'c': 5, 'b': 200, 'd': 200}

In [59]:
key = list(d1.keys())[0]

In [60]:
key

'c'

In [61]:
key = next(iter(d1.keys()))

In [62]:
key

'c'

In [65]:
d1.pop(key)

5

In [66]:
d1

{'b': 200, 'd': 200}

# Underscore in Numeric Literals ..

In [67]:
10_000

10000

In [68]:
0x_FF_FFFF

16777215

In [69]:
0x_F_F_F_FF_FF_F

4294967295

In [70]:
1_0_0_9_9

10099

In [72]:
'{:_}'.format(100000)

'100_000'

In [73]:
'{:,}'.format(9000000000000)

'9,000,000,000,000'

In [74]:
'{:_X}'.format(9000000000000)

'82F_79CD_9000'

In [76]:
'{:_}'.format(9000000000000)

'9_000_000_000_000'

In [77]:
int('FF_FFFF', 16)

16777215

In [78]:
int('0b_1_000_000', 2)

64

# Preserved ordered of **kwargs ... PEP468 ...

In [79]:
def fun(**kwargs):
    for item in kwargs.items():
        print(item)

In [80]:
fun(b=9, a=0, y='h',p='pas')

('b', 9)
('a', 0)
('y', 'h')
('p', 'pas')

In [81]:
# nametupled generator 
from collections import namedtuple

def defaulated_namedtuple(class_name, **fields):
    Struct = namedtuple('Struct', fields.keys())
    Struct.__new__.__defaults__ = tuple(fields.values())
    
    return Struct

In [84]:
Vector2D = defaulated_namedtuple('Vector2D',
                                 x1= None, y1=None,
                                 x2=None, y2=None,
                                 origin_x=0, origin_y=0)

In [86]:
Vector2D._fields

('x1', 'y1', 'x2', 'y2', 'origin_x', 'origin_y')

In [87]:
v1 = Vector2D(10, 20, 30, 30)

In [88]:
v1

Struct(x1=10, y1=20, x2=30, y2=30, origin_x=0, origin_y=0)

# f-String - formated string

In [89]:
from sys import version_info

In [90]:
version_info

sys.version_info(major=3, minor=10, micro=7, releaselevel='final', serial=0)

In [92]:
'{} % {} = {}'.format(10, 3, 10 %3) # is 10%3 = True

'10 % 3 = 1'

In [93]:
'{1} % {2} = {0}'.format(10 % 3, 10 , 3) # positional numbers ... with arguments

'10 % 3 = 1'

In [94]:
'{a} % {b} = {mod}'.format(a=10, mod=10%3, b=3)  # using names

'10 % 3 = 1'

In [95]:
a = 10
b = 3
f'{a} % {b}'

'10 % 3'

In [96]:
f'{a} % {b} = {a % b}'

'10 % 3 = 1'

In [97]:
a = 10 /3

In [98]:
f'{a:0.5f}'

'3.33333'

In [99]:
f'{10/3:0.5f}'

'3.33333'

In [100]:
name = "Python"

In [101]:
'{name} rocks'.format(name=name)

'Python rocks'

**closure**

In [102]:
def outer():
    name = "Python"
    
    def inner():
        #nonlocal name
        return f'{name} rocks!'
    return inner

In [103]:
print(outer()())

Python rocks!

In [105]:
print(outer())

<function outer.<locals>.inner at 0x11476b6d0>

In [106]:
sq = lambda x: x**2
a = 10
b = 1
print(f'{sq(a) if b > 5 else a}')

10

In [107]:
b = 10

print(f'{sq(a) if b > 5 else a}')

100

In [109]:
a = 10
b = 1

print(f'{(lambda x : x**2)(a) if b > 5 else a}')

10

In [110]:
b = 10

print(f'{(lambda x : x**2)(a) if b > 5 else a}')

100