# Relevant Python Changes 3.8 3.7

In [1]:
# Posisitonal only parameters ..

In [3]:
print("a") # positonal

a

In [4]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [6]:
print(value='a') # Positional Only parameters .. we could define a keyword only... but not positional only parametes

TypeError: 'value' is an invalid keyword argument for print()

In [7]:
def my_fun(a, b):
    return a + b

In [8]:
my_fun(8, 7)

15

In [11]:
my_fun(a = 4, b=2) # named arguments ..

6

In [12]:
def my_func(a, b, *, c):
    return a + b + c

In [13]:
my_fun(1,2,3,4,5)

TypeError: my_fun() takes 2 positional arguments but 5 were given

In [14]:
my_fun(1,2,3,4,c=5)

TypeError: my_fun() got an unexpected keyword argument 'c'

In [15]:
my_fun(1,2,c=5)

TypeError: my_fun() got an unexpected keyword argument 'c'

In [16]:
def my_fun(a,b,/):
    return a + b

In [17]:
my_fun(1, 2)

3

In [18]:
my_fun(a=1,b= 2)

TypeError: my_fun() got some positional-only arguments passed as keyword arguments: 'a, b'

In [19]:
def my_func(a, b, /, c):
    return a * b *c

In [20]:
my_fun(1,2,3)

TypeError: my_fun() takes 2 positional arguments but 3 were given

In [21]:
def my_func(a, b, *, c):
    return a * b *c

In [23]:
my_fun(1,2,c=3)

TypeError: my_fun() got an unexpected keyword argument 'c'

# f string

In [24]:
a, b = 'hello', 'world'

In [25]:
print(f"a={a}, b={b}")

a=hello, b=world

In [26]:
print(f"{a=}, {b=}")

a='hello', b='world'

In [27]:
print(f"{a=:s},{b=:s}")

a=hello,b=world

In [28]:
from datetime import datetime

In [29]:
from math import pi

In [32]:
d = datetime.utcnow()
e =pi

In [33]:
print(f'{d=}, {e=}')

d=datetime.datetime(2022, 11, 24, 17, 4, 25, 635212), e=3.141592653589793

In [34]:
print(f"{d=:%Y-%m-%d %H: %M %S}, {e=:.3f}")

d=2022-11-24 17: 04 25, e=3.142

In [35]:
sent = ["Python", "rock!"]

In [37]:
print(f"{1 + 2=}, {' '.join(sent)}")

1 + 2=3, Python rock!

In [38]:
print(f"{1 + 2=}, {' '.join(sent)=}")

1 + 2=3, ' '.join(sent)='Python rock!'

In [39]:
a = 100.2
a.as_integer_ratio()

(7050948166601933, 70368744177664)

In [40]:
from fractions import Fraction
f = Fraction(1, 2)

In [41]:
print(f)

1/2

In [42]:
f.as_integer_ratio()

(1, 2)

In [43]:
a = 12
a.as_integer_ratio()

(12, 1)

In [44]:
flag = True

In [45]:
flag.as_integer_ratio()

(1, 1)

In [46]:
# Polymorphism ..... 
from functools import lru_cache

In [48]:
@lru_cache(maxsize=3)
def fib(n):
    return 1 if n<=2 else fib(n-1) + fib(n-2)

In [49]:
fib(100)

354224848179261915075

In [50]:
@lru_cache()
def fib(n):
    return 1 if n<=2 else fib(n-1) + fib(n-2)

In [51]:
fib(100)

354224848179261915075

In [52]:
@lru_cache
def fib(n):
    return 1 if n<=2 else fib(n-1) + fib(n-2)

In [53]:
fib(100)

354224848179261915075

In [54]:
import math

In [55]:
a = (0,0)

In [56]:
a

(0, 0)

In [57]:
b=(1,1)

In [58]:
dist = math.sqrt((b[0]-a[0])**2 + (b[1]-a[1])**2)

In [59]:
dist

1.4142135623730951

In [60]:
math.dist(a,b)

1.4142135623730951

In [61]:
from collections import namedtuple

In [65]:
NT = namedtuple("NT", "a b c", defaults=(10, 20 ,30))

In [70]:
nt = NT(88)

In [71]:
nt

NT(a=88, b=20, c=30)

In [72]:
nt = NT(c=99)

In [73]:
nt

NT(a=10, b=20, c=99)

In [74]:
NT = namedtuple("NT", "a b c d e f g h", defaults=('xyz',)*8)

In [75]:
nt = NT()

In [76]:
nt

NT(a='xyz', b='xyz', c='xyz', d='xyz', e='xyz', f='xyz', g='xyz', h='xyz')

In [77]:
nt = NT(c=99)

In [78]:
nt

NT(a='xyz', b='xyz', c=99, d='xyz', e='xyz', f='xyz', g='xyz', h='xyz')

In [81]:
NT = namedtuple("NT", "a b c ", defaults=([],)*3)

In [82]:
nt = NT()

In [83]:
nt

NT(a=[], b=[], c=[])

In [86]:
nt.a.append(9) # takces the sam eojbect repreated 3 times ... same memory address... modify 1 all refre to the same list ...

In [87]:
nt

NT(a=[9, 9], b=[9, 9], c=[9, 9])

In [88]:
NT = namedtuple("NT", "a b c", defaults=(1,2,3))

In [89]:
nt = NT()

In [90]:
nt

NT(a=1, b=2, c=3)

In [91]:
NT._field_defaults

{'a': 1, 'b': 2, 'c': 3}

In [93]:
nt._asdict() # ordered dictionary .. Python3.7  .... insertion ordred .. return for as dict method ..

{'a': 1, 'b': 2, 'c': 3}

In [94]:
# Built in reverse function .. works with dictionary views ...
d = {'a':1, 'b':2}

In [95]:
d

{'a': 1, 'b': 2}

In [96]:
list(d.keys())

['a', 'b']

In [98]:
list(reversed(d.values()))

[2, 1]

In [99]:
a = 10
b = 10

In [100]:
a is b

True

In [101]:
a = 10000

In [102]:
b = 10000

In [103]:
a is b

False

In [104]:
a == b

True

In [105]:
a is 1

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
/var/folders/gk/qmm3q5ld1b74kcdmh5pnm1xw0000gn/T/ipykernel_82381/3222642818.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  a is 1

False

In [106]:
a = [1, 2, 3]

In [107]:
b = [1,2,3]

In [108]:
a is b

False

In [109]:
a == b

True