# Tuples : Containers ... order matters, contain sequences of element - Heterogeneous or Homogeneous .. indexable - iterable -- immutable -  fixed lenght and ordere
# Lits : Containers,  order matter ... Homegeneous always... but can be hetorgeneous - indexable, iterable -- mutable -  can change .. order can change reverse..
# String containers ,, order matters..  Homogeneous-- indexable, iterable - immutable - fixted length and fixed length.

In [1]:
# immputability of Tuples: elements can not ve added or removed the order of elements can no be chaanbed works well for represesent data strcutd: 
# Pint(10, 20), City:("London","UK", 2,333,44545) # city structure .. not a clauss .. no t a mutable list ... i inheint to the tupel ... th epois has meanin gbu tno name .. convensiton ....

# Tuple of data .. L ("LONDON", "U", 333.33) .. Tuple, string are immutable ... not to hange .. strin is immutable and itneger is immutable ... nver change .. immutabe ..
# cities = [('a', 'b', 3),
# [s] city = Loindo[0] .. cities = [('london), 'uk', 2321323, ('New York', 2323)]

In [13]:
# unpacking data from a tuple... 
new_york = ('NY', 'US',1,2,3,4,5,6, 2_232_233)

In [7]:
city, country, population = new_york
city, country, population

('NY', 'US', 2232233)

In [8]:
# Dummy variables ... _  is a actually a legal variable name ... ignored 
city, _, population = new_york

In [9]:
city, population

('NY', 2232233)

In [10]:
# extened unpacking 
city = new_york[0]
city

'NY'

In [14]:
city, *_, pop = new_york

In [15]:
city, *_, pop

('NY', 'US', 1, 2, 3, 4, 5, 6, 2232233)

In [16]:
a = (10,20,30,40)

In [17]:
b = 1,2,3,4

In [18]:
def printT(t):
    for e in t:
        print(e)

In [19]:
printT(a)

10
20
30
40

In [20]:
a[2:4]

(30, 40)

In [21]:
a = 'a', 100, 200, 300

In [23]:
x,y,z,y=a

In [24]:
x, *other, z=a

In [25]:
x

'a'

In [26]:
other

[100, 200]

In [27]:
x, *_, z=a

In [28]:
_

[100, 200]

In [30]:
a[0] = 900 # we cannot change the refrence address of that element

TypeError: 'tuple' object does not support item assignment

In [31]:
class Point2D:
    def __init__(self, x,y):
        self.x = x
        self.y = y 
        
    def __repr__(self):
        return f'{self.__class__.__name__}(x={self.x}, y={self.y})'

In [32]:
pt = Point2D(88, 99)

In [33]:
pt

Point2D(x=88, y=99)

In [34]:
pt.x = 100

In [36]:
pt

Point2D(x=100, y=99)

In [35]:
id(pt)

4696589840

In [37]:
a = Point2D(9, 9), Point2D(5,3)

In [38]:
a

(Point2D(x=9, y=9), Point2D(x=5, y=3))

In [39]:
id(a[0])

4693875952

In [40]:
a[0].x = 400

In [45]:
s = 'Python'
id(s)

4531802544

In [46]:
s = 'Python' + 'rocks'

In [47]:
id(s)

4695115568

In [53]:
london ='London', 'UK', 2323323
beijing='Beigin','China', 234343

In [54]:
cities = [london, new_york, beijing]

In [55]:
sum([city[2] for city in cities])

2557667

In [56]:
sum(city[2] for city in cities)

2557667

In [57]:
total = sum(city[2] for city in cities)

In [58]:
total

2557667

In [59]:
record = 'djal', 1,243,5,6,8,9,4,3,3,3,2

In [60]:
symbol, *_, last = record

In [61]:
symbol

'djal'

In [62]:
last

2

In [63]:
_

[1, 243, 5, 6, 8, 9, 4, 3, 3, 3]

In [64]:
for city in cities:
    print(city)

('London', 'UK', 2323323)
('NY', 'US', 1, 2, 3, 4, 5, 6, 2232233)
('Beigin', 'China', 234343)

In [71]:
for index,city in cities:
    print(index,city)

ValueError: too many values to unpack (expected 2)

In [72]:
# generate random coorddination ...
from random import uniform
from math import sqrt

In [73]:
def random_shot(radius):
    random_x = uniform(-radius, radius)
    random_y = uniform(-radius, radius)
    
    
    if sqrt(random_x **2 + random_y **2) <= radius:
        is_in_circle = True 
    else:
        is_in_circle = False 
        
    return random_x, random_y, is_in_circle

In [76]:
num_attempts = 1000000
count_inside = 0

In [77]:
for i in range(num_attempts):
    *_, is_in_circle = random_shot(1)
    if is_in_circle:
        count_inside +=1 
print(f'Pi for apporximatly: {4 * count_inside / num_attempts}')

Pi for apporximatly: 3.140396

# Named tuple ... data structure ... interpreted tuples as data structures .. the position of the object contained isn th etuple gave it meaning .. for exampe we can represetn a 2D coordinate ..
## use class ...

In [78]:
class Point2D:
    def __init__(self, x, y) -> None:
        self.x = x
        self.y = y

In [79]:
pt = Point2D(1,2)

In [80]:
distance = sqrt(pt.x **2 + pt.y **2)

In [81]:
distance

2.23606797749979

In [82]:
class Stock:
    def __init__(self, a,b,c,d,f):
        self.a = a 
        ...

# Class approach vs Tuple approach

In [85]:
# Class approah 
stc = Stock(1,2,3,4,5)
stc.a

1

In [88]:
# Tuple approach
a

(Point2D(x=400, y=9), Point2D(x=5, y=3))

# implement the dendor wrapper method __repr__ and the dendor wrraper equal method __eq__ mdthod

Tuple are immutable .. but the callls are mutable ... change the structure of our code ...

In [89]:
eric = ('Adel', 33)

In [90]:
lastName , age = eric

In [91]:
lastName, age

('Adel', 33)

In [92]:
# Once the code runn the tuple is immutable ... ... if 

# however using the class appraoch ... to modify the tuples.. 

## Combine both class and tupel l... namedtuples ... are subcalss from tuple... which add a layer a property names to th positioan elemtn .. but nametuple is afunction wehcin 
# generage a new class ... class factory 
# name tuple generat class from the the tupole ... 

# name tuple is a class facctory .... like p2.
# 1. class name 
#2. field name (strings) any valid variable name ... and cannot start with underscore ..
#. return value of the call to named tuple wei a classe 
#4 assign that calss to a varable name in our code swe can uset to construct instances

In [94]:
from Tuple import namedtuple(typename,)

SyntaxError: invalid syntax (1136786254.py, line 1)

In [93]:
Point2D = namedtuple('Point2D', ['x', 'y'])

NameError: name 'namedtuple' is not defined

# __new__ create class before the initializtion stage .. provide to th list ... 

Point2D = namedtupole('DD), 'x,x

-- by index
-- slice 
-- iterate

isintance(pt, tupe

x,u =pt1
x = pt[0]

for e in tpt:
print(e))



accessing using field name ... 
pt.x, pt.y ... field names .. nametuple inherit from tuple.... class Point2D(tuple): ... is immutable .... no longer change the contect of the object ..
pt.x = 22 .. wont work because it is a tuple .. immutable... container immutable... 


#### rename ... keywork arguemnt for namedtuple ... field names for named tuples mus be  alid idenfieers can start with an undrscore ... 

person = namedtupole('Pers), name age _ssn
rename without risk of collsion with other name ... invalid ... rename = True ... 


## introspection ... what the fiewlds _fields .. 
Person._fields ... name, age _2 ... named tuple is a calss factorey .. genartes a class ...
cound inhreef reom touj .. _source .... to see dsth code ...
Point@D._source .... to see the code ...a class in memory ... be defined usin gthis code ... point 2D ... __mu__ .. dendore init... 

__repr___(self)

# extact the date from named tuple values to a dictionary 

_asdict() 


pt1._asdict() # dictoary has all keys and values ... from name tupel to a dictionary ...

# Named Tuples

In [127]:
class Point3D:# mutable appraoch
    def __init__(self, x,y,z):
        self.x = x
        self.y = y
        self.z  = z 
    def __repr__(self):
        return f'{self.__class__.__name__}((x={self.x}, y={self.y}, z={self.z})'
    
    def __eq__(self, other):
        if isinstance(other, Point3D):
            return self.x ==other.x and self.y ==other.y and self.z ==other.z 
        else:
            return False

In [128]:
from collections import namedtuple # immutable appraoch

In [97]:
Point2D = namedtuple("Point2D", ['x', 'y'])

In [98]:
# instances 
pt1 = Point2D(1,2)

In [100]:
pt1

Point2D(x=1, y=2)

In [103]:
pt.x

1

In [104]:
pt2D =namedtuple('Point2D', ('x','y'))

In [106]:
pt3D = Point3D(3,3,3)

In [108]:
p = pt3D

In [110]:
p = Point2D(x = 10, y=20)

In [111]:
p

Point2D(x=10, y=20)

In [112]:
isinstance(p, tuple)

True

In [113]:
p = Point3D(1,1,1)

In [114]:
isinstance(p, tuple)

False

In [115]:
a = (10, 20)

In [116]:
b = (10, 20)

In [117]:
a is b

False

In [118]:
a == b

True

In [119]:
pt1 = Point2D(10, 20)

In [120]:
pt2 = Point2D(10, 20)

In [121]:
pt1 is pt2

False

In [123]:
pt1 == pt2

True

In [124]:
p1 = Point3D(1,1,1)
p2 = Point3D(1,1,1)

In [129]:
p1 is p2

False

In [130]:
p1 is p2

False

In [131]:
max(pt1)

20

In [133]:
`a = a.x, b.y 
b = b.x, b.y

a.b = a.x * b.x + a.y + b.y `

SyntaxError: invalid syntax (4122636898.py, line 1)

In [146]:
def dot_product_3d(a,b):
    return a.x * b.x + a.y * b.y + a.z * b.z

In [147]:
pt1 = Point3D(1,2,3)
pt2  = Point3D(1,1,1)

In [148]:
dot_product_3d(pt1, pt2)

6

In [149]:
a = (1,2)
b = (1, 1)

In [150]:
list(zip(a, b))

[(1, 1), (2, 1)]

In [151]:
sum([e[0] * e[1] for e in zip(a,b)])

3

In [152]:
def dot_product(a,b):
    return sum(e[0] * e[1] for e in zip(a,b))

In [153]:
pt1 = Point2D(1, 2)
pt2 = Point2D(1,1)

In [154]:
dot_product(pt1, pt2)

3

In [155]:
Vector3D = namedtuple('Vector3D', 'x y z')

In [156]:
v1 = Vector3D(1, 2, 3)
v2 = Vector3D(1, 1, 1)

In [157]:
v1

Vector3D(x=1, y=2, z=3)

In [158]:
v2

Vector3D(x=1, y=1, z=1)

In [159]:
dot_product(v1, v2)

6

In [160]:
tuple(v1)

(1, 2, 3)

In [161]:
v1[0]

1

In [162]:
v1[0:2]

(1, 2)

In [163]:
v1.x

1

In [164]:
v1.y

2

In [165]:
#namedtuple ... field names 
Circle = namedtuple('Circle', 'center_x center_y    radius')

In [166]:
c = Circle(0, 0, 10)

In [167]:
c

Circle(center_x=0, center_y=0, radius=10)

In [168]:
c.radius

10

In [169]:
Stock = namedtuple('Stock', '''Symbol 
                                year 
                                month 
                                day 
                                open 
                                high 
                                low 
                                close ''')

In [170]:
djia = Stock('DJIA', 2018, 1, 25, 26_313, 26_458, 26_260, 26_393)

In [171]:
djia

Stock(Symbol='DJIA', year=2018, month=1, day=25, open=26313, high=26458, low=26260, close=26393)

In [172]:
djia.close

26393

In [173]:
for item in djia:
    print(item)

DJIA
2018
1
25
26313
26458
26260
26393

In [176]:
P = Point2D(10, 20)

In [177]:
x, y = P

In [178]:
x, y

(10, 20)

In [179]:
djia

Stock(Symbol='DJIA', year=2018, month=1, day=25, open=26313, high=26458, low=26260, close=26393)

In [180]:
symbol, year, month, day, *_, close = djia

In [181]:
symbol, year, month, day, close

('DJIA', 2018, 1, 25, 26393)

In [182]:
print(_)

[26313, 26458, 26260]

In [183]:
Person = namedtuple('Person', 'name age _ssn') # unlike class we can not _ on named tuple

ValueError: Field names cannot start with an underscore: '_ssn'

In [184]:
Person = namedtuple('Person', 'name age _ssn', rename=True) # unlike class we can not _ on named tuple

In [185]:
Person._fields

('name', 'age', '_2')

In [186]:
Person = namedtuple('Person', 'name age _3 _ssn', rename=True) # unlike class we can not _ on named tuple

In [187]:
Person._fields

('name', 'age', '_2', '_3')

In [188]:
Point3D._field # non in the class

AttributeError: type object 'Point3D' has no attribute '_field'

In [189]:
Stock._fields

('Symbol', 'year', 'month', 'day', 'open', 'high', 'low', 'close')

In [192]:
# source code ... generated by teh namedtuple ...
print(Stock._source)

AttributeError: type object 'Stock' has no attribute '_source'

In [195]:
djia

Stock(Symbol='DJIA', year=2018, month=1, day=25, open=26313, high=26458, low=26260, close=26393)

In [196]:
d = djia._asdict()

In [198]:
d # ordere dicationay . maintain the key order ;... sets don't garuntee kew order ... however ... dictionary .. the order might be ordered dictioanry ...
# but we have to main order .. dictionary... is garnteed dicaitonary

{'Symbol': 'DJIA',
 'year': 2018,
 'month': 1,
 'day': 25,
 'open': 26313,
 'high': 26458,
 'low': 26260,
 'close': 26393}

In [199]:
djia._asdict()

{'Symbol': 'DJIA',
 'year': 2018,
 'month': 1,
 'day': 25,
 'open': 26313,
 'high': 26458,
 'low': 26260,
 'close': 26393}

In [200]:
dict(djia._asdict())

{'Symbol': 'DJIA',
 'year': 2018,
 'month': 1,
 'day': 25,
 'open': 26313,
 'high': 26458,
 'low': 26260,
 'close': 26393}

In [201]:
# The object is a tuple... .x.y ... probeery iteme getter ...I) ... .x ... retrieve the value of thea properfty

# Named Tuples are immutable ... change the value of the x coordinate ... x and y ... 

Point2D = namedtuple('Point2D', x y)

# create a new point .. to change the value ... pt = Point2D(222, pt.y) .. meomry has changed of pt ... 

## Drawback ... like in Stock tuple with fields then when cahng eany field ... painful ... not clane and pain to type ... 

## instead we can usei slicing or unpacking ... curretn = djia[:7] ... get a tuple 

## using unpacki LL *current, _ = djia .. get a list ... 

## djia = Stock(*curretn, 26_398) ... change the last one ... 

## using _make ... expect a singel argument tha ti iterabvel .. so to build tha iterabel fields ... by creating a new tuple .. tha tcontains 8 values ... 
## neVal = current + (2323,) ... newVal = current.appen(23242)
## djia = Stock._make(newvl)



# Drawback... extend unpackitn only on * ... howver using slicing ... pre = dijg[:3], post = djia[4:] ... contains all teh values that we want .. constuctor .. 
## work ... stil has drawbacks .. modify teh day and the high values ... 3 and 5 .. more complicated ... 

# The _replace instanc emthdo ... copy an enaem tupoe into anew one , replace anyvalue from a keword argumen s.. teh kewwordk name mus tmatch an existin fiels name .. 

# Extending a namedtpel .. appendin on ore more fieled toa accuren tple ... perv_close ... subclass .. to add afields .. more complicated .. add to ait .. a Point3D name dtupo add t oPOInt(x y z) using exsitg Point2D ... 
### Appending two Tuples ... recomver from Point2D .. new f = Stoc._vfedds)'preve

Stoex =namedtupel(StoeeExte, new_fewlds)

## Createing an ew name tuple ... 

## How extding a named tupel .. value ..

# Named Tuples - MOdifying and Extending .. by creating another and appending to the existing one

In [202]:
from collections import namedtuple

In [203]:
Point2D = namedtuple('Point2D', ' x y ')

In [204]:
pt = Point2D(11, 11)

In [205]:
pt

Point2D(x=11, y=11)

In [207]:
pt.x = 33

AttributeError: can't set attribute

In [208]:
id(pt)

4699319040

In [209]:
# modify the x parameter by 
pt = Point2D(100, pt.y)

In [210]:
pt

Point2D(x=100, y=11)

In [212]:
id(pt) # chaged the address

4699051328

In [213]:
s = 'Python'

In [214]:
id(s)

4531802544

In [215]:
s +='Rock'

In [216]:
id(s)

4695325936

In [217]:
Stock = namedtuple('Stock', 'symbol year month day open high low close')

In [220]:
djia = Stock('DJIA', 2018, 1, 25, 25555, 222, 3333, 2323)

In [221]:
djia

Stock(symbol='DJIA', year=2018, month=1, day=25, open=25555, high=222, low=3333, close=2323)

In [233]:
djia1 = Stock(djia.symbol, djia.year, djia.month, djia.day,
             djia.open, djia.high, djia.low, 100000000) # hard ..

In [234]:
djia1

Stock(symbol='DJIA', year=2018, month=1, day=25, open=25555, high=222, low=3333, close=100000000)

In [235]:
# using unpacking or slicing ... 
*values , clsoe = djia1

In [236]:
close

26393

In [237]:
values.append(66666)

In [238]:
values

['DJIA', 2018, 1, 25, 25555, 222, 3333, 66666]

In [239]:
djia = Stock(*values) # * to unpack each element

In [240]:
djia

Stock(symbol='DJIA', year=2018, month=1, day=25, open=25555, high=222, low=3333, close=66666)

In [241]:
a =[1,2,3]

In [242]:
a = a + [4,5]

In [243]:
a

[1, 2, 3, 4, 5]

In [244]:
id(a)

4698893312

In [245]:
a = [1,2,3]

In [246]:
id(a)

4698729728

In [247]:
a.append([1,1,1])

In [248]:
a

[1, 2, 3, [1, 1, 1]]

In [249]:
id(a)

4698729728

In [250]:
a.extend([3,3,3])

In [251]:
id(a)

4698729728

In [252]:
a

[1, 2, 3, [1, 1, 1], 3, 3, 3]

In [253]:
djia

Stock(symbol='DJIA', year=2018, month=1, day=25, open=25555, high=222, low=3333, close=66666)

In [254]:
values = djia[:7]

In [255]:
values

('DJIA', 2018, 1, 25, 25555, 222, 3333)

In [256]:
type(values)

tuple

In [258]:
values + (202,)

('DJIA', 2018, 1, 25, 25555, 222, 3333, 202)

In [259]:
djia = Stock(*(values + (202,))) # unpacked after adding

In [260]:
djia

Stock(symbol='DJIA', year=2018, month=1, day=25, open=25555, high=222, low=3333, close=202)

In [261]:
djia = Stock(*values, 9000) # un packed before adding

In [262]:
djia

Stock(symbol='DJIA', year=2018, month=1, day=25, open=25555, high=222, low=3333, close=9000)

In [263]:
id(djia)

4701725504

In [264]:
djia = djia._replace(year=2022, open=9000000)

In [265]:
djia

Stock(symbol='DJIA', year=2022, month=1, day=25, open=9000000, high=222, low=3333, close=9000)

In [267]:
id(djia) # change the address by creating a new tuple ..

4701727184

In [270]:
djia = Stock._make(values + (888,)) # using ._make ... is better to change teh

In [271]:
djia

Stock(symbol='DJIA', year=2018, month=1, day=25, open=25555, high=222, low=3333, close=888)

In [272]:
djia = djia._replace(close=777777)

In [273]:
djia

Stock(symbol='DJIA', year=2018, month=1, day=25, open=25555, high=222, low=3333, close=777777)

In [274]:
Point2D

__main__.Point2D

In [275]:
Point2D._fields

('x', 'y')

In [276]:
Point3D =namedtuple('Point3D', 'x y z')

In [277]:
P3 = Point3D

In [279]:
P3

__main__.Point3D

In [280]:
Point3D._fields + ('R', )

('x', 'y', 'z', 'R')

In [281]:
Point4D = namedtuple('Point3D', Point3D._fields + ('R',))

In [282]:
P4 = Point4D

In [283]:
P4(1,2,3,4)

Point3D(x=1, y=2, z=3, R=4)

In [284]:
Stock._fields

('symbol', 'year', 'month', 'day', 'open', 'high', 'low', 'close')

In [285]:
StockExt = namedtuple('StockExt', Stock._fields + ('previous_close', ))

In [287]:
StockExt._fields

('symbol',
 'year',
 'month',
 'day',
 'open',
 'high',
 'low',
 'close',
 'previous_close')

In [288]:
P4

__main__.Point3D

In [289]:
pt4d = Point4D(*pt, 4,4)

In [290]:
pt4d

Point3D(x=100, y=11, z=4, R=4)

In [291]:
djia

Stock(symbol='DJIA', year=2018, month=1, day=25, open=25555, high=222, low=3333, close=777777)

In [292]:
djia_ext = StockExt(*djia, 1_000_000)

In [293]:
djia_ext

StockExt(symbol='DJIA', year=2018, month=1, day=25, open=25555, high=222, low=3333, close=777777, previous_close=1000000)

# Named Tuples ... DocStrings and Default Values 

Name Tuple ... docstring .. created automatically ... fields na dprop.. has __doc__ dendtor doc .. have atteripbe with tehr __doc__ attribute ... help(Piont2D) ... x,y .. x, y __Doc__

__doc__ writable attribute .. wech overwrite it ... Point2D.x.__doc__ = 'x coordinate' 

The namedtupel function does not porvide us a way to defin default value for each field 

Two appraoches to this :

Uingg A Prototype ... after createtin a named tuple .. craet an isnatance .. a prototype ... and pass in 0, 0 .. any additioan insance anc  prottoype._repalce ... what we wen need sullpy a very an None ifnnot ... using 

__defaults__ property ... this allows us to specify athe defaults fo a paritcalur fucnitn ... __new mdoth inject teh default valure itn the dendor new meth o.. nwoe spedf a dfareu for ever feio .. we can toha ve notdeferu apare r after teh fers deofj apreaf ;



def fun(a, b=01) ...def fun(a, b=2, c) .. c shaoodl ahave a defrualf 





vectore 2D = namedtupleo('Vecgtroe2D), 'x y z x oring_x orgin_y

vectro_zero = Vectro2D(x1=0, x2=0, origin_x=0, origy=0)


or 

vectro+zer = Vectro2D(0,0,0.0,0.0)

vecgtor+zero ..> Vectro2D(x=0, y=0, x=0, y=0, origin , orgin)

v1 = vectro .repalce .. 


## using __defaults___ 

fun (a, b=2,c=2):
pass

fun.__dfautls__ (10,20) ... the __defaults__ .. proety is writabl ... we can set a tuple of our choice .. proved more defaults.. a,b a ... 

more default s... cause problem ... 

setting defaults int eh class constructors .... calll teh __new__ inteh vector ... to set value in teh __newnew__()

Vec.+__enew__.__new__defaults__ = (0,0)

v1 = Vector2D(10,10,20220)

x1,y1 x2 y2 origin_x orign_y ... this is a lot clearner ... 

vectoe_zero._replae(x=19, y1=...) # create a new insance of a class ... .... reauires a kewywrokd argeums ... so __default si prefered ... over __replace__

In [294]:
#
from collections import namedtuple

In [295]:
Point2D = namedtuple('Point2D', 'x y')

In [296]:
Point2D.__doc__

'Point2D(x, y)'

In [297]:
Point2D.x.__doc__

'Alias for field number 0'

In [298]:
help(Point2D)

Help on class Point2D in module __main__:

class Point2D(builtins.tuple)
 |  Point2D(x, y)
 |
 |  Point2D(x, y)
 |
 |  Method resolution order:
 |      Point2D
 |      builtins.tuple
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __getnewargs__(self)
 |      Return self as a plain tuple.  Used by copy and pickle.
 |
 |  __repr__(self)
 |      Return a nicely formatted representation string
 |
 |  _asdict(self)
 |      Return a new dict which maps field names to their values.
 |
 |  _replace(self, /, **kwds)
 |      Return a new Point2D object replacing specified fields with new values
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  _make(iterable) from builtins.type
 |      Make a new Point2D object from a sequence or iterable
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(_cls, x, y)
 |      Create new instance of Point2D(x, y)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  x
 |      Alias for field number 0
 |
 |  y
 |      Alias for field number 1
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __match_args__ = ('x', 'y')
 |
 |  _field_defaults = {}
 |
 |  _fields = ('x', 'y')
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from builtins.tuple:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Class methods inherited from builtins.tuple:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585

In [299]:
Point2D.__doc__ = '2D Cartesian coordinate'
Point2D.x.__doc__ = 'x coordinat'

In [300]:
help(Point2D)

Help on class Point2D in module __main__:

class Point2D(builtins.tuple)
 |  Point2D(x, y)
 |
 |  2D Cartesian coordinate
 |
 |  Method resolution order:
 |      Point2D
 |      builtins.tuple
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __getnewargs__(self)
 |      Return self as a plain tuple.  Used by copy and pickle.
 |
 |  __repr__(self)
 |      Return a nicely formatted representation string
 |
 |  _asdict(self)
 |      Return a new dict which maps field names to their values.
 |
 |  _replace(self, /, **kwds)
 |      Return a new Point2D object replacing specified fields with new values
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  _make(iterable) from builtins.type
 |      Make a new Point2D object from a sequence or iterable
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(_cls, x, y)
 |      Create new instance of Point2D(x, y)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  x
 |      x coordinat
 |
 |  y
 |      Alias for field number 1
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __match_args__ = ('x', 'y')
 |
 |  _field_defaults = {}
 |
 |  _fields = ('x', 'y')
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from builtins.tuple:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Class methods inherited from builtins.tuple:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585

# Prototype

In [301]:
vector2D = namedtuple('Vector2D', 'x1 y1 x2 y2 origin_x origin_y')

In [303]:
vector2D._fields

('x1', 'y1', 'x2', 'y2', 'origin_x', 'origin_y')

In [305]:
V1 = vector2D(0,0, 10, 10, 0, 0)

In [306]:
V1

Vector2D(x1=0, y1=0, x2=10, y2=10, origin_x=0, origin_y=0)

In [309]:
vector_zero = vector2D(0, 0, 0, 0, 0, 0)

In [310]:
v2 = vector_zero._replace(x1=10, y1=10, x2=20, y2=20)

In [311]:
v2

Vector2D(x1=10, y1=10, x2=20, y2=20, origin_x=0, origin_y=0)

In [316]:
v3 = vector_zero._replace(x1=100,) # using an instance ... not transprant and not very clean ... also we have to using kwargs ... prefered .. but for simple vector 
# it is not recommeded ... .. however when using namedtuples like stock is ti recommed using kwargs...

In [317]:
v3

Vector2D(x1=100, y1=0, x2=0, y2=0, origin_x=0, origin_y=0)

In [318]:
vector_altorigin = vector2D(0, 0, 0, 0, -10, -1)

In [319]:
v1 = vector_altorigin

In [320]:
v1

Vector2D(x1=0, y1=0, x2=0, y2=0, origin_x=-10, origin_y=-1)

In [321]:
def func(a, b=10, c=20):
    print(a, b, c)

In [322]:
func(1)

1 10 20

In [323]:
func.__defaults__

(10, 20)

In [324]:
func.__defaults__ = (100, 200, 300)

In [326]:
func()

100 200 300

In [328]:
print(help(vector2D))

Help on class Vector2D in module __main__:

class Vector2D(builtins.tuple)
 |  Vector2D(x1, y1, x2, y2, origin_x, origin_y)
 |
 |  Vector2D(x1, y1, x2, y2, origin_x, origin_y)
 |
 |  Method resolution order:
 |      Vector2D
 |      builtins.tuple
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __getnewargs__(self)
 |      Return self as a plain tuple.  Used by copy and pickle.
 |
 |  __repr__(self)
 |      Return a nicely formatted representation string
 |
 |  _asdict(self)
 |      Return a new dict which maps field names to their values.
 |
 |  _replace(self, /, **kwds)
 |      Return a new Vector2D object replacing specified fields with new values
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  _make(iterable) from builtins.type
 |      Make a new Vector2D object from a sequence or iterable
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(_cls, x1, y1, x2, y2, origin_x, origin_y)
 |      Create new instance of Vector2D(x1, y1, x2, y2, origin_x, origin_y)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  x1
 |      Alias for field number 0
 |
 |  y1
 |      Alias for field number 1
 |
 |  x2
 |      Alias for field number 2
 |
 |  y2
 |      Alias for field number 3
 |
 |  origin_x
 |      Alias for field number 4
 |
 |  origin_y
 |      Alias for field number 5
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __match_args__ = ('x1', 'y1', 'x2', 'y2', 'origin_x', 'origin_y')
 |
 |  _field_defaults = {}
 |
 |  _fields = ('x1', 'y1', 'x2', 'y2', 'origin_x', 'origin_y')
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from builtins.tuple:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Class methods inherited from builtins.tuple:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585

None

In [329]:
vector2D.__new__.__defaults__

In [330]:
vector2D.__new__.__defaults__ = (0, 0)

In [333]:
v1 = vector2D(10, 10, 20, 20)

In [332]:
v1

Vector2D(x1=10, y1=10, x2=20, y2=20, origin_x=0, origin_y=0)

In [334]:
vector2D.__new__.__defaults__ = (-10, -10)

In [335]:
v1 = vector2D(10, 10, 20, 20)

In [337]:
v1

Vector2D(x1=10, y1=10, x2=20, y2=20, origin_x=-10, origin_y=-10)

In [338]:
help(v1)

Help on Vector2D in module __main__ object:

class Vector2D(builtins.tuple)
 |  Vector2D(x1, y1, x2, y2, origin_x=-10, origin_y=-10)
 |
 |  Vector2D(x1, y1, x2, y2, origin_x, origin_y)
 |
 |  Method resolution order:
 |      Vector2D
 |      builtins.tuple
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __getnewargs__(self)
 |      Return self as a plain tuple.  Used by copy and pickle.
 |
 |  __repr__(self)
 |      Return a nicely formatted representation string
 |
 |  _asdict(self)
 |      Return a new dict which maps field names to their values.
 |
 |  _replace(self, /, **kwds)
 |      Return a new Vector2D object replacing specified fields with new values
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  _make(iterable) from builtins.type
 |      Make a new Vector2D object from a sequence or iterable
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(_cls, x1, y1, x2, y2, origin_x=-10, origin_y=-10)
 |      Create new instance of Vector2D(x1, y1, x2, y2, origin_x, origin_y)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  x1
 |      Alias for field number 0
 |
 |  y1
 |      Alias for field number 1
 |
 |  x2
 |      Alias for field number 2
 |
 |  y2
 |      Alias for field number 3
 |
 |  origin_x
 |      Alias for field number 4
 |
 |  origin_y
 |      Alias for field number 5
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __match_args__ = ('x1', 'y1', 'x2', 'y2', 'origin_x', 'origin_y')
 |
 |  _field_defaults = {}
 |
 |  _fields = ('x1', 'y1', 'x2', 'y2', 'origin_x', 'origin_y')
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from builtins.tuple:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Class methods inherited from builtins.tuple:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585

# Named Tuples - Application - Returning Mulitple Values

In [339]:
from random import randint, random 
from collections import namedtuple

In [340]:
def random_color():
    red = blue = green = randint(0, 255)
    alpha = round(random(), 2)
    return red, blue, green, alpha

In [341]:
color = random_color()

In [342]:
color

(195, 195, 195, 0.06)

In [344]:
#un packed 
red, blue, green, alpha = color

In [346]:
red, alpha

(195, 0.06)

In [350]:
Color = namedtuple('Color', 'red green blue alpha')

In [351]:
def random_color():
    red = blue = green = randint(0, 255)
    alpha = round(random(), 2)
    return Color(red, blue, green, alpha) # return tuple...

In [352]:
color = random_color() # to help IDL to idenitify the elements of the class

In [353]:
color

Color(red=69, green=69, blue=69, alpha=0.89)

In [354]:
color.alpha

0.89