# basics ... hash map ... dictionary .. associative arry ...

In [3]:
x = 7
for i in range(100):
    print(i%x, end=' ')

0 1 2 3 4 5 6 0 1 2 3 4 5 6 0 1 2 3 4 5 6 0 1 2 3 4 5 6 0 1 2 3 4 5 6 0 1 2 3 4 5 6 0 1 2 3 4 5 6 0 1 2 3 4 5 6 0 1 2 3 4 5 6 0 1 2 3 4 5 6 0 1 2 3 4 5 6 0 1 2 3 4 5 6 0 1 2 3 4 5 6 0 1 2 3 4 5 6 0 1

In [5]:
[i%x for i in range(20)]

[0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5]

In [6]:
948 % 5

3

In [7]:
625 % 11

9

In [8]:
723 % 11

8

# Python's hash functoin ... 

1. truncates hashes to some fixed siae (sy.has_inf.width) .. 
2. map(hash, 1,2,3,4)
2. map(hash, (1.2, 2.3))
3. map(has, 'hello', )
4. hash((1, 'a', 10.2))
5. hash((1,2))
6. hash(frozenset({'1','2'})) ... immutable

# not hashable .. mutable type... 
1. has([1,2,]) 
2. hash({1,2})

# anything mutalble is not hashable .. .. a

In [9]:
hash('hello')

-1645448897211448388

In [10]:
a = (1,2,3)
hash(a)

529344067295497451

In [11]:
a = [1,2,3]
hash(a)

TypeError: unhashable type: 'list'

In [12]:
a = {1,2,3}

In [13]:
hash(a)

TypeError: unhashable type: 'set'

In [14]:
hash('pass')

-599275656114809521

In [15]:
hash('pass')

-599275656114809521

In [16]:
hash('pass')

-599275656114809521

# never rely on hash .. to be the same ... from one program ot he next ..

In [17]:
a = {'a':4, 'b':2, 'c':7}

In [18]:
a

{'a': 4, 'b': 2, 'c': 7}

In [19]:
d = {str(i): i**2 for i in range(5)}

In [20]:
d

{'0': 0, '1': 1, '2': 4, '3': 9, '4': 16}

In [21]:
a

{'a': 4, 'b': 2, 'c': 7}

In [23]:
hash((1,2,3,5))

7098540143285066217

In [30]:
d = {(1,2,3):'tuple'}

In [31]:
d[(1,2,3,4)]

KeyError: (1, 2, 3, 4)

In [ ]:
t1 = t2 = (1,2,3)

In [ ]:
t1 == t2

True

In [32]:
hash(t1) == hash(t2)

True

In [33]:
d[t2]

'tuple'

In [ ]:
hash(t1)

In [34]:
id(t1) is id(t2)

False

In [35]:
hash([1,2,4])

TypeError: unhashable type: 'list'

In [36]:
def my_func(a,b,c):
    print(a,b, c)

In [37]:
hash(my_func)

290660923

In [38]:
d = {my_func: [1,2,3]}

In [39]:
d

{<function __main__.my_func(a, b, c)>: [1, 2, 3]}

In [40]:
def fn_add(a, b):
    return a + b

In [41]:
def fn_inv(a):
    return 1 /a

In [42]:
def fun_mult(a, b):
    return a * b

In [43]:
funcs = {fn_add: (10, 20), fn_inv:(2, ), fun_mult:(2, 8)}

In [44]:
funcs

{<function __main__.fn_add(a, b)>: (10, 20),
 <function __main__.fn_inv(a)>: (2,),
 <function __main__.fun_mult(a, b)>: (2, 8)}

In [70]:
A = [i for i in range(100)]
X = []
for i in A[::-1]:
    X.append(i)

In [74]:
n = 0
while(n< 5):
    if n % 2 ==1:
        print(n)
    n += 1

1
3

In [77]:
1 % 1

0

In [1]:
k = [1,2,3]
v = ['a', 'b', 'c']

In [3]:
d = {k:v for k,v in zip(k,v)}

In [4]:
d

{1: 'a', 2: 'b', 3: 'c'}

In [5]:
d = {'a':100, 'b':200}

In [6]:
d1 = d

In [7]:
d1

{'a': 100, 'b': 200}

In [8]:
id(d1) is id(d)

False

In [10]:
d = {'a':11, 'b':{'x':3, 'y':3}, 'c':[i for i in range(5)]}

In [11]:
d

{'a': 11, 'b': {'x': 3, 'y': 3}, 'c': [0, 1, 2, 3, 4]}

In [12]:
d['c'][0]=10000

In [13]:
d

{'a': 11, 'b': {'x': 3, 'y': 3}, 'c': [10000, 1, 2, 3, 4]}

In [14]:
d['c'].append(77777)

In [15]:
d

{'a': 11, 'b': {'x': 3, 'y': 3}, 'c': [10000, 1, 2, 3, 4, 77777]}

In [16]:
keys = ['a','b','c']
values = [i for i in range(5)]

In [18]:
d = {}
for k,v in zip(keys, values):
    d[k] = v

In [19]:
d

{'a': 0, 'b': 1, 'c': 2}

In [20]:
keys = 'abcd'
values = range(1,5)

In [21]:
d = {k:v for k,v in zip(keys, values) if v %2==0}

In [22]:
d

{'b': 2, 'd': 4}

In [23]:
x_coords = (-2, -1, 0, 1, 2)
y_coords = (-2, -1, 0, 1, 2)

In [24]:
# carteisen product 

grid = [(x,y)
        for x in x_coords
        for y in y_coords]

In [25]:
grid

[(-2, -2),
 (-2, -1),
 (-2, 0),
 (-2, 1),
 (-2, 2),
 (-1, -2),
 (-1, -1),
 (-1, 0),
 (-1, 1),
 (-1, 2),
 (0, -2),
 (0, -1),
 (0, 0),
 (0, 1),
 (0, 2),
 (1, -2),
 (1, -1),
 (1, 0),
 (1, 1),
 (1, 2),
 (2, -2),
 (2, -1),
 (2, 0),
 (2, 1),
 (2, 2)]

In [26]:
import math 
math.hypot(1,1)

1.4142135623730951

In [27]:
grid_extended = [(x,y, math.hypot(x, y)) for x, y in grid]

In [28]:
grid_extended

[(-2, -2, 2.8284271247461903),
 (-2, -1, 2.23606797749979),
 (-2, 0, 2.0),
 (-2, 1, 2.23606797749979),
 (-2, 2, 2.8284271247461903),
 (-1, -2, 2.23606797749979),
 (-1, -1, 1.4142135623730951),
 (-1, 0, 1.0),
 (-1, 1, 1.4142135623730951),
 (-1, 2, 2.23606797749979),
 (0, -2, 2.0),
 (0, -1, 1.0),
 (0, 0, 0.0),
 (0, 1, 1.0),
 (0, 2, 2.0),
 (1, -2, 2.23606797749979),
 (1, -1, 1.4142135623730951),
 (1, 0, 1.0),
 (1, 1, 1.4142135623730951),
 (1, 2, 2.23606797749979),
 (2, -2, 2.8284271247461903),
 (2, -1, 2.23606797749979),
 (2, 0, 2.0),
 (2, 1, 2.23606797749979),
 (2, 2, 2.8284271247461903)]

In [29]:
grid_extended = {(x,y): math.hypot(x, y) for x, y in grid}

In [30]:
grid_extended

{(-2, -2): 2.8284271247461903,
 (-2, -1): 2.23606797749979,
 (-2, 0): 2.0,
 (-2, 1): 2.23606797749979,
 (-2, 2): 2.8284271247461903,
 (-1, -2): 2.23606797749979,
 (-1, -1): 1.4142135623730951,
 (-1, 0): 1.0,
 (-1, 1): 1.4142135623730951,
 (-1, 2): 2.23606797749979,
 (0, -2): 2.0,
 (0, -1): 1.0,
 (0, 0): 0.0,
 (0, 1): 1.0,
 (0, 2): 2.0,
 (1, -2): 2.23606797749979,
 (1, -1): 1.4142135623730951,
 (1, 0): 1.0,
 (1, 1): 1.4142135623730951,
 (1, 2): 2.23606797749979,
 (2, -2): 2.8284271247461903,
 (2, -1): 2.23606797749979,
 (2, 0): 2.0,
 (2, 1): 2.23606797749979,
 (2, 2): 2.8284271247461903}

In [31]:
counters = dict.fromkeys(['a','b','c'], 0)

In [32]:
counters

{'a': 0, 'b': 0, 'c': 0}

In [35]:
counters = dict.fromkeys('abcd', 0)

In [36]:
counters

{'a': 0, 'b': 0, 'c': 0, 'd': 0}

In [37]:
d = dict.fromkeys('python')

In [38]:
d

{'p': None, 'y': None, 't': None, 'h': None, 'o': None, 'n': None}

In [39]:
print(d)

{'p': None, 'y': None, 't': None, 'h': None, 'o': None, 'n': None}

In [44]:
d = dict.fromkeys('python', hash('a'))

In [45]:
d

{'p': -5524908425232903346,
 'y': -5524908425232903346,
 't': -5524908425232903346,
 'h': -5524908425232903346,
 'o': -5524908425232903346,
 'n': -5524908425232903346}

In [46]:
d

{'p': -5524908425232903346,
 'y': -5524908425232903346,
 't': -5524908425232903346,
 'h': -5524908425232903346,
 'o': -5524908425232903346,
 'n': -5524908425232903346}

In [47]:
d['n'] = 22

In [48]:
d

{'p': -5524908425232903346,
 'y': -5524908425232903346,
 't': -5524908425232903346,
 'h': -5524908425232903346,
 'o': -5524908425232903346,
 'n': 22}

In [49]:
d['z'] ='zzz'

In [50]:
d

{'p': -5524908425232903346,
 'y': -5524908425232903346,
 't': -5524908425232903346,
 'h': -5524908425232903346,
 'o': -5524908425232903346,
 'n': 22,
 'z': 'zzz'}

In [51]:
d['z']

'zzz'

In [52]:
d['y']

-5524908425232903346

In [53]:
d['ff']

KeyError: 'ff'

In [54]:
# key membership ... hash the key and do the prob ... find a value in the dictionary ... key member ship is very efficient ... 

'z' in d

True

In [55]:
len(d)

7

In [58]:
d.clear() # inplace chnge to the dicitonary

In [59]:
d

{}

In [61]:
d = {} # a ne instanst

In [62]:
d1

{'a': 100, 'b': 200}

In [65]:
d1.pop('a')

100

In [66]:
d1

{'b': 200}

In [68]:
d.pop('a', 1)

1

In [71]:
d1.popitem()

('b', 200)

In [72]:
d1

{}

In [74]:
#LIFO ... stack .... Last in firt out 


d = {'a':1, 'b':2}

In [75]:
if 'c' not in d:
    d['c'] = 100

In [76]:
d

{'a': 1, 'b': 2, 'c': 100}

In [77]:
res = d.setdefault('y', 232)

In [78]:
res

232

In [79]:
d

{'a': 1, 'b': 2, 'c': 100, 'y': 232}

In [80]:
d.setdefault('y', 99)

232

In [81]:
d

{'a': 1, 'b': 2, 'c': 100, 'y': 232}

In [82]:
d = dict(zip('abc', range(1,4)))

In [83]:
d

{'a': 1, 'b': 2, 'c': 3}

In [84]:
len(d)

3

In [85]:
d['a']

1

In [86]:
d['p']

KeyError: 'p'

In [88]:
d.get('a')

1

In [90]:
d.get('dlfs', 'N/A')

'N/A'

In [91]:
d.get('a', 'N/A')

1

In [99]:
text = 'AritahmeticError '*3

In [100]:
counts = dict()

In [101]:
for c in text:
    counts[c] = counts.get(c, 0) + 1

In [102]:
counts

{'A': 3,
 'r': 12,
 'i': 6,
 't': 6,
 'a': 3,
 'h': 3,
 'm': 3,
 'e': 3,
 'c': 3,
 'E': 3,
 'o': 3,
 ' ': 3}

In [103]:
counts = dict()
for c in text:
    key = c.lower().strip()
    if key:
        counts[key] = counts.get(key, 0) + 1

In [104]:
counts

{'a': 6, 'r': 12, 'i': 6, 't': 6, 'h': 3, 'm': 3, 'e': 6, 'c': 3, 'o': 3}

In [105]:
d = dict(a=1, b=2, c=3)

In [106]:
'z' in d

False

In [108]:
'z' in d

False

In [109]:
d = dict.fromkeys('abc', 0)

In [110]:
d

{'a': 0, 'b': 0, 'c': 0}

In [111]:
r = d.pop('b')

In [112]:
d

{'a': 0, 'c': 0}

In [113]:
d.pop('z')

KeyError: 'z'

In [114]:
d

{'a': 0, 'c': 0}

In [115]:
d.pop('z', 88)

88

In [116]:
d = dict({i: i**2 for i in range(1, 5)})

In [117]:
d

{1: 1, 2: 4, 3: 9, 4: 16}

In [118]:
if 'z' not in d:
    d['z'] = 77

In [119]:
d

{1: 1, 2: 4, 3: 9, 4: 16, 'z': 77}

In [121]:
def insert_if_not_present(d, k, v):
    if k not in d:
        d[k] = v 
        return v 
    else:
        return d[k]

In [122]:
insert_if_not_present(d, 'xx', 23)

23

In [123]:
d

{1: 1, 2: 4, 3: 9, 4: 16, 'z': 77, 'xx': 23}

In [124]:
insert_if_not_present(d, 1, 666)

1

In [125]:
d

{1: 1, 2: 4, 3: 9, 4: 16, 'z': 77, 'xx': 23}

In [126]:
d.setdefault('4', 8888)

8888

In [127]:
d

{1: 1, 2: 4, 3: 9, 4: 16, 'z': 77, 'xx': 23, '4': 8888}

In [129]:
text

'AritahmeticError AritahmeticError AritahmeticError '

In [130]:
counts = dict()
for c in text:
    key = c.lower().strip()
    if key:
        counts[key] = counts.get(key, 0) + 1

In [132]:
import string 

print(string.ascii_lowercase)
print(string.ascii_uppercase)

abcdefghijklmnopqrstuvwxyz
ABCDEFGHIJKLMNOPQRSTUVWXYZ

In [136]:
categories = {}

for c in text:
    if c != ' ':
        if c in string.ascii_lowercase:
            key = 'lower'
        elif c in string.ascii_uppercase:
            key = 'upper'
        else:
            key = 'other'
            
        if key not in categories:
            categories[key] = set() # empty set ..
            
        categories[key].add(c)
        
for cat in categories:
    print(f'{cat}: ', ''.join(categories[cat]))

upper:  EA
lower:  cotemarhi

In [137]:
categories = {}

for c in text:
    if c != ' ':
        if c in string.ascii_lowercase:
            key = 'lower'
        elif c in string.ascii_uppercase:
            key = 'upper'
        else:
            key = 'other'
            
        categories.setdefault(key, set()).add(c)
         
for cat in categories:
    print(f'{cat}: ', ''.join(categories[cat]))

upper:  EA
lower:  cotemarhi

In [157]:
text ='A aa b B bbb c DDD / & sldfj afs 3 FFF '

In [162]:
def cat_key(c):
    if c == ' ':
        return None 
    elif c in string.ascii_lowercase:
        return 'lower'
    elif c in string.ascii_uppercase:
        return 'upper'
    else:
        return 'other'

In [163]:
categories = {}

for c in text:
    key = cat_key(c)
    if key:
        categories.setdefault(key, set()).add(c)
         
for cat in categories:
    print(f'{cat}: ', ' '.join(categories[cat]))

upper:  D B A F
lower:  c b a s f d j l
other:  / 3 &

In [165]:
def cat_key(c):
    categories = {' ':None,
                  string.ascii_lowercase: 'lower',
                  string.ascii_uppercase: 'upper'}
    
    for key in categories:
        if c in key:
             return categories[key]
    else:
        return 'other'

In [166]:
cat_key('a')

'lower'

In [167]:
cat_key('E')

'upper'

In [168]:
cat_key(' ')

In [169]:
cat_key('3')

'other'

In [170]:
categories = {}

for c in text:
    key = cat_key(c)
    if key:
        categories.setdefault(key, set()).add(c)
         
for cat in categories:
    print(f'{cat}: ', ' '.join(categories[cat]))

upper:  D B A F
lower:  c b a s f d j l
other:  / 3 &

In [171]:
# chain ... itertools 

from itertools import chain

In [172]:
def cat_key(c):
    cat_1 = {' ':None}
    cat_2 = dict.fromkeys(string.ascii_lowercase, 'lower')
    cat_3 = dict.fromkeys(string.ascii_uppercase, 'upper')
    
    categories = dict(chain(cat_1.items(), cat_2.items(), cat_3.items()))
    # categoreis = {**cat_1, **cat_2, **cat_3}
    return categories.get(c, 'other')

In [173]:
cat_key('A')

'upper'

In [174]:
cat_key('b')

'lower'

In [175]:
cat_key('7')

'other'

In [176]:
categories = {}

for c in text:
    key = cat_key(c)
    if key:
        categories.setdefault(key, set()).add(c)
         
for cat in categories:
    print(f'{cat}: ', ' '.join(categories[cat]))

upper:  D B A F
lower:  c b a s f d j l
other:  / 3 &

In [177]:
d

{1: 1, 2: 4, 3: 9, 4: 16, 'z': 77, 'xx': 23, '4': 8888}

In [178]:
id(d)

4728375936

In [179]:
d = {} # assing a new dictionary

In [180]:
d

{}

In [181]:
id(d) # changed the id ...

4727690944

In [182]:
d = {1: 1, 2: 4, 3: 9, 4: 16, 'z': 77, 'xx': 23, '4': 8888}

In [183]:
d

{1: 1, 2: 4, 3: 9, 4: 16, 'z': 77, 'xx': 23, '4': 8888}

In [187]:
id(d) # replacwe the simple to anew dictionary

4727840960

In [188]:
d.clear()

In [189]:
id(d) # mutated the dictioanry ;..

4727840960

# Dictiornary vies .. PEP 3106 ... keys .. one ...d.keys() ... 

1. keys only .. d.keys()
2. values only.. d.values ()
3.  ky/value paiers ... [key, value ] ... d.items()


iterable.... d = {'fjelsjflsf} ... lsit(d.keys) ... list(d.values ) . list(d.items()} ... 

)

4. the order of the keys and values and items are the same .. the third emlemnt .. order in th inserstion .. no gaurntee ... wha t order .. is ... the data has no change .. modief th edictiona r.. n gurantee because veiw dno t stor  the datea .... 

5. dynamic ... views reflext any cange sin dictiona .. views are not updtabel... no monipu t.. 


d = {'a}:1, 'b:2 ... kyes = d.key, d.value,d.items() .. hthe values not changes .. not called the vlues methodto see the changes .. in mymsimple vlaue .. reflict the changes .. key changes ... the same thing ... set are dictionary l.. hash table doent hat the valu e.. st are unic nad hashable ... keys fo dictiona re set ... keys views are set funcction on to of keys ove rdictn .. union .. instersecton l.. diffences .. view s... valutes() .. dont ;have to ve uinque l.. or hasha e.. unique ... values are not uinpq  or hashap... items()  vies lik as set .. elemnt of item are guatn te to pb  uniq .. two diifetn emnt s .. the uples have to be uniqu .. no tnedd to each elnt to ve unic .. set  ou tof thes e .. pythn does fdo tthe uniquess .. teh itemes views l.. intersextion unique and .. one is not hashable .. retain th eiterable aspect of all this view s. .. th eset operation... s1 = {'a}, 'b, 'b  ... set are hsh table ... uni st s1 | s2 >>>> .. {a,b, c, c} both .. si intersetsion . s & s2 ... difference ... s1 - s1 .. {d} .. set ... maniputlat eh dkeys() .. unique of keys(0) items() . the set operations.. sets .. in python .. don't have guranteed order .. st don't the interseotn to twos sed . insertionorder ..  .. sets are not orderd ...  d.keys() ... d2.keys() are ordered .. d1.keys() | d2.keys(-) sets.. .

In [190]:
# Vies .. 
s1 = {1, 2,3}
s2 = {2,3, 4}

In [191]:
s1 | s2  #unique elemnts

{1, 2, 3, 4}

In [192]:
s1 & s2 # commont

{2, 3}

In [193]:
s1 - s2 # the difence

{1}

In [195]:
d1 = {'a':1, 'b':2, 'c':3}
d2 = dict(zip(('cde'), [30, 4, 5]))

In [196]:
d1, d2

({'a': 1, 'b': 2, 'c': 3}, {'c': 30, 'd': 4, 'e': 5})

In [197]:
for key in d1:
    print(key)

a
b
c

In [199]:
for key in d1.keys():
    print(key)

a
b
c

In [200]:
for value in d1.values():
    print(value)

1
2
3

In [201]:
list(d2.values())

[30, 4, 5]

In [202]:
for item in d1.items():
    print(item)

('a', 1)
('b', 2)
('c', 3)

In [203]:
for k, v in d1.items():# iterable-- grap new itrator and ont be exhausted .. ... not iterator ...
    print(k, v)

a 1
b 2
c 3

In [204]:
ks = d1.keys()

In [205]:
list(ks)

['a', 'b', 'c']

In [207]:
list(ks) # iteralbe

['a', 'b', 'c']

In [208]:
d1['d'] = 0

In [210]:
d1

{'a': 1, 'b': 2, 'c': 3, 'd': 0}

In [211]:
list(d1)

['a', 'b', 'c', 'd']

In [212]:
# the ordere are consistetn 
d1

{'a': 1, 'b': 2, 'c': 3, 'd': 0}

In [215]:
list(d1.keys()),list(d1.values())

(['a', 'b', 'c', 'd'], [1, 2, 3, 0])

In [217]:
list(d1.items()) == list(zip(d1.keys(), d1.values())) # tuples comparing ..

True

In [218]:
print(d1)
print(d2)

{'a': 1, 'b': 2, 'c': 3, 'd': 0}
{'c': 30, 'd': 4, 'e': 5}

In [219]:
del d1['d']

In [220]:
print(d1)
print(d2)

{'a': 1, 'b': 2, 'c': 3}
{'c': 30, 'd': 4, 'e': 5}

In [222]:
print(type(d1.keys()), d1.keys())
print(type(d2.keys()), d2.keys())

<class 'dict_keys'> dict_keys(['a', 'b', 'c'])
<class 'dict_keys'> dict_keys(['c', 'd', 'e'])

In [223]:
union = d1.keys() | d2.keys()

In [224]:
union ## Jupyter notbook ....

{'a', 'b', 'c', 'd', 'e'}

In [226]:
type(union) # no garnteed with ordred elent i

set

In [228]:
print(union) # no ordered ... garnteed on set ....

{'c', 'b', 'e', 'a', 'd'}

In [230]:
list(union) # the actual order on set ..

['c', 'b', 'e', 'a', 'd']

In [231]:
d1.keys() & d2.keys()

{'c'}

In [233]:
d1.items() | d2.items() # the values aer hashable ... and repated the c values ... causel emelnt an are diren

{('a', 1), ('b', 2), ('c', 3), ('c', 30), ('d', 4), ('e', 5)}

In [234]:
d2['c'] = 3

In [235]:
d1, d2

({'a': 1, 'b': 2, 'c': 3}, {'c': 3, 'd': 4, 'e': 5})

In [237]:
d1.items() | d2.items() # the  c is not repeated as it is unique l... values .. no garuteion .. if items are hasbel... or not .. gautnteed to be unique 
# because the keys are unique ...

{('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)}

In [238]:
d1.values(), d2.values()

(dict_values([1, 2, 3]), dict_values([3, 4, 5]))

In [239]:
d1.values() | d2.values() #

TypeError: unsupported operand type(s) for |: 'dict_values' and 'dict_values'

In [240]:
d3 = {'a': [1,2], 'b':[3,4]}
d4 = {'b':[30,40], 'c':[3,4]}

In [241]:
d3.items()

dict_items([('a', [1, 2]), ('b', [3, 4])])

In [242]:
hash(('a', [1, 2]), ('b', [3, 4]))

TypeError: hash() takes exactly one argument (2 given)

In [243]:
d1.items()

dict_items([('a', 1), ('b', 2), ('c', 3)])

In [245]:
hash(('a', 1))

-9139409913663578836

In [246]:
d3.items() | d4.items()

TypeError: unhashable type: 'list'

In [247]:
# new dic to be a tuple for boht dic t..
d3, d4

({'a': [1, 2], 'b': [3, 4]}, {'b': [30, 40], 'c': [3, 4]})

In [248]:
d1, d2

({'a': 1, 'b': 2, 'c': 3}, {'c': 3, 'd': 4, 'e': 5})

In [249]:
k1 = d1.keys()
k2 = d2.keys()

k1 & k2

{'c'}

In [251]:
new_dict = {}

for key in d1.keys() & d2.keys():
    new_dict[key] = d1[key], d2[key]
print(new_dict)

{'c': (3, 3)}

In [252]:
ndict = {key:(d1[key], d2[key]) for key in d1.keys() & d2.keys()}

In [253]:
ndict

{'c': (3, 3)}

In [254]:
d1, d2

({'a': 1, 'b': 2, 'c': 3}, {'c': 3, 'd': 4, 'e': 5})

In [256]:
d2['c'] =77

In [257]:
d1, d2

({'a': 1, 'b': 2, 'c': 3}, {'c': 77, 'd': 4, 'e': 5})

In [259]:
new_dict = {}

for key in d1.keys() & d2.keys():
    new_dict[key] = d2[key]
print(new_dict)

{'c': 77}

In [260]:
ndict = {key:d2[key] for key in d1.keys() & d2.keys()}

In [261]:
ndict

{'c': 77}

In [262]:
d1, d2

({'a': 1, 'b': 2, 'c': 3}, {'c': 77, 'd': 4, 'e': 5})

In [263]:
union = d1.keys() | d2.keys()
print(union)

{'c', 'b', 'e', 'a', 'd'}

In [264]:
intersection = d1.keys() & d2.keys()

In [265]:
print(intersection)

{'c'}

In [266]:
union - intersection

{'a', 'b', 'd', 'e'}

In [267]:
# symmeteric diffence 

d1.keys() ^ d2.keys()

{'a', 'b', 'd', 'e'}

In [268]:
d1.get('d')

In [269]:
d1

{'a': 1, 'b': 2, 'c': 3}

In [270]:
d1.get('r')

In [271]:
d1, d2

({'a': 1, 'b': 2, 'c': 3}, {'c': 77, 'd': 4, 'e': 5})

In [272]:
d1.get('d') or d2.get('d')

4

In [273]:
d1.get('e') or d2.get('e')

5

In [274]:
d1, d2

({'a': 1, 'b': 2, 'c': 3}, {'c': 77, 'd': 4, 'e': 5})

In [277]:
union, intersection

({'a', 'b', 'c', 'd', 'e'}, {'c'})

In [278]:
keys = union - intersection

In [281]:
keys

{'a', 'b', 'd', 'e'}

In [279]:
result = {}

for key in keys:
    result[key] = d1.get(key) or d2.get(key)

In [282]:
print(result )

{'b': 2, 'e': 5, 'd': 4, 'a': 1}

In [283]:
result = {}

for key in d1.keys() ^ d2.keys():
    result[key] = d1.get(key) or d2.get(key)

In [284]:
result

{'b': 2, 'e': 5, 'a': 1, 'd': 4}

In [285]:
result = {}

for key in (d1.keys() | d2.keys()) - (d1.keys() & d2.keys()):
    result[key] = d1.get(key) or d2.get(key)

In [290]:
result

{'b': 2, 'e': 5, 'd': 4, 'a': 1}

In [291]:
res = {key: d1.get(key) or d2.get(key) for key in d1.keys() ^ d2.keys()}

In [292]:
res

{'b': 2, 'e': 5, 'a': 1, 'd': 4}

In [293]:
d1

{'a': 1, 'b': 2, 'c': 3}

In [297]:
d.update(xx=[1,2,3])

In [298]:
d

{'xx': [1, 2, 3]}

In [299]:
d1.update(yy=[4,6,7])

In [300]:
d1

{'a': 1, 'b': 2, 'c': 3, 'yy': [4, 6, 7]}

In [301]:
d1.update(d)

In [302]:
d1

{'a': 1, 'b': 2, 'c': 3, 'yy': [4, 6, 7], 'xx': [1, 2, 3]}

In [304]:
g = ((k, ord(k)) for k in 'abc')

In [306]:
next(g)

('a', 97)

# upacking dict ...
def fun(**kwargfs):
print(args)  .. funck(**d) .. argument order perserved ... un--- unpacked a dictioary ... use a tuple .. un packed to pass it ot a function .. funciton.. tuple as argumet name .. no restricaiton .. d 1 , d2, d 3 ... d

In [307]:
d1, d, d2

({'a': 1, 'b': 2, 'c': 3, 'yy': [4, 6, 7], 'xx': [1, 2, 3]},
 {'xx': [1, 2, 3]},
 {'c': 77, 'd': 4, 'e': 5})

In [308]:
dd = {**d, **d1, **d2}

In [309]:
dd

{'xx': [1, 2, 3], 'a': 1, 'b': 2, 'c': 77, 'yy': [4, 6, 7], 'd': 4, 'e': 5}

## Copy dictionaries .. shallow and deep copies ...

In [310]:
d

{'xx': [1, 2, 3]}

In [311]:
d_copy = d.copy()

In [312]:
d_copy

{'xx': [1, 2, 3]}

In [313]:
d_c = {**d}

In [314]:
d_c

{'xx': [1, 2, 3]}

In [315]:
d_cc = dict(d)

In [316]:
d_cc

{'xx': [1, 2, 3]}

In [317]:
d_ccc = {k: v for k, v in d.items()}

In [318]:
d_ccc # independet dictioanr y... but keys and values are shared refernces ..

{'xx': [1, 2, 3]}

# Deep copy ... no shared refrences ... deep copy .. require recuression ... make sure you are usin gnested object ... circular refencess ... alart ... reflect .. copy of that objec t... circular reference ... .. a true deep copy .. 2 levels down ... a true .. cop

In [319]:
from copy import deepcopy

In [320]:
d = {'a':1, 'b':2, 'c':3}

In [321]:
d['b'] = '7'

In [322]:
d

{'a': 1, 'b': '7', 'c': 3}

In [323]:
d1 = {'a':1, 'b':2}
d2 = {'c':3, 'd':4}

In [326]:
d1.update(d2) # inplace update ... presve order

In [327]:
d1

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [328]:
d1 = {'a':1, 'b':2}
d2 = {'c':3, 'd':4}

In [329]:
d1.update(b=55, x=40, c=30)

In [330]:
d1

{'a': 1, 'b': 55, 'x': 40, 'c': 30}

In [331]:
print(d1)

{'a': 1, 'b': 55, 'x': 40, 'c': 30}

In [332]:
d1 = {'a':1, 'b':2}
d2 = {'c':3, 'd':4}

In [333]:
d1.update(c=2, x=40, b=99)

In [334]:
d1

{'a': 1, 'b': 99, 'c': 2, 'x': 40}

In [335]:

d1 = {'a':1, 'b':2}
d2 = {'c':3, 'd':4}

In [336]:
d1.update([('c', 22), ['d', 76]])

In [337]:
d1

{'a': 1, 'b': 2, 'c': 22, 'd': 76}

In [338]:
d1 = {'a':1, 'b':2}
d2 = {'c':3, 'd':4}

In [339]:
d1.update((k, ord(k)) for k in 'python')

In [340]:
print(d1)

{'a': 1, 'b': 2, 'p': 112, 'y': 121, 't': 116, 'h': 104, 'o': 111, 'n': 110}

In [342]:
l1 = [1,2,3,4]
l2 = 'abcd'
l = (*l1, *l2) # unpack list 
print(l)

(1, 2, 3, 4, 'a', 'b', 'c', 'd')

In [345]:
d1 = {'a':1, 'b':2}
d2 = {'c':3, 'd':4}
d = {**d1, **d2} # unpack ... dictionry ** -- ordeinn gis maintain ... created a new dicitonary ..
print(d)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [346]:
d1 = {'a':1, 'b':2}
d2 = {'b':3, 'd':4}

In [347]:
d = {**d1, **d2}

In [349]:
print(d) # the recent wins ... update limit ... . unpacking mutl dicto.

{'a': 1, 'b': 3, 'd': 4}

In [350]:
d1 = {'a':1, 'b':2}
d2 = {'c':3, 'd':4}
d3 = {'b':200, 'd':40, 'e':5}

In [351]:
d = {**d1, **d2, **d3}

In [352]:
print(d)

{'a': 1, 'b': 200, 'c': 3, 'd': 40, 'e': 5}

In [357]:
conf_defaults = dict.fromkeys(('host', 'port', 'user', 'pwd', 'database'), None)

In [359]:
conf_defaults

{'host': None, 'port': None, 'user': None, 'pwd': None, 'database': None}

In [360]:
conf_global = {'port':8888, 'database':'ETS'}

In [361]:
conf_dev = {
    'host':'localhost',
    'user':'test',
    'pwd' :'test'
    
    
}

conf_prod = {
    'host': 'prodpg.ets.com',
    'user':'$pord_user',
    'pwd':'$prod_pwd',
    'database':'ets_prod'
}

conf_defaults ---> global --->> dev / pord

In [362]:
cof = {**conf_defaults, **conf_global, **conf_dev}
print(cof)

{'host': 'localhost', 'port': 8888, 'user': 'test', 'pwd': 'test', 'database': 'ETS'}

In [363]:
conf_prod = {**conf_defaults, **conf_global, **conf_dev}

In [364]:
conf_prod

{'host': 'localhost',
 'port': 8888,
 'user': 'test',
 'pwd': 'test',
 'database': 'ETS'}

In [365]:
# pass key

def myFunc(*, kw1, kw2, kw3):# named args
    print(kw1, kw2, kw3)

In [366]:
d = {'kw2':20,'kw1':77, 'kw3':55 }

In [367]:
myFunc(**d)

77 20 55

In [371]:
# not recommended 
def myFun(**kwargs):# the ordere matter ... 
    for k, v in kwargs.items():
        print(k, v)

In [372]:
myFun(**d)

kw2 20
kw1 77
kw3 55

In [373]:
myFun(c=9, r=2)

c 9
r 2

# Copies of dictionaries

In [374]:
d = {'a': [1,2], 'b':[3, 4]}

In [381]:
d1 = d.copy() # shallow copies

In [382]:
id(d) is id(d1)

False

In [383]:
d, d1

({'a': [1, 2, 88], 'b': [3, 4]}, {'a': [1, 2, 88], 'b': [3, 4]})

In [384]:
d['a'] is d1['a']

True

In [385]:
d['a'].append(88)

In [386]:
d1, d

({'a': [1, 2, 88, 88], 'b': [3, 4]}, {'a': [1, 2, 88, 88], 'b': [3, 4]})

In [387]:
d['x'] = 55

In [388]:
d1, d

({'a': [1, 2, 88, 88], 'b': [3, 4]},
 {'a': [1, 2, 88, 88], 'b': [3, 4], 'x': 55})

In [389]:
del d['a']

In [390]:
d1, d

({'a': [1, 2, 88, 88], 'b': [3, 4]}, {'b': [3, 4], 'x': 55})

In [391]:
from copy import deepcopy

In [398]:
d = {'id':342,
     'person':{'name':"Me",'age':343},
     'post':[12,3,4]}

In [399]:
d

{'id': 342, 'person': {'name': 'Me', 'age': 343}, 'post': [12, 3, 4]}

In [400]:
d_deep = deepcopy(d)
d_shallow = d.copy()

In [402]:
id(d) , id(d_deep), id(d_shallow)

(4728091648, 4728474880, 4727010752)

In [403]:
id(d['person']), id(d_deep['person']), id(d_shallow['person'])

(4726837632, 4726523904, 4726837632)

In [404]:
d1

{'id': 342, 'person': {'name': 'Me', 'age': 343}, 'post': [12, 3, 4]}

In [406]:
d1 = {'a':[1,2], 'b':[3,4]
      }

d = {**d1, 'c':44}

In [409]:
d3 = dict(d1) # shallow copiess

In [410]:
d1['a'] is d3['a']

True

In [411]:
d1 = {'a':[1,2], 'b':[3,4]
      }

In [412]:
d2 = {k:v for k,v in d1.items()}

In [413]:
d1, d2

({'a': [1, 2], 'b': [3, 4]}, {'a': [1, 2], 'b': [3, 4]})

In [414]:
d1['a'] is d2['a']

True

In [415]:
from random import randint

In [416]:
big_d = {k: randint(1, 100) for k in range(1_000_000)}

In [417]:
len(big_d)

1000000

In [418]:
def copy_unpacking(d):
    d1 = {**d}
    
    
def copy_copy(d):
    d1 = d.copy()
    
    
def copy_create(d):
    d1 = dict(d)
    
def copy_comprehension(d):
    d1 = {k:v for k,v in d.items()}
    
def copy_deepcopy(d):
    d1 = deepcopy(d)

In [419]:
from timeit import timeit

In [420]:
timeit('copy_unpacking(big_d)', globals=globals(), number=100)

2.163798087996838

In [421]:
timeit('copy_copy(big_d)', globals=globals(), number=100)

2.1794262800030992

In [422]:
timeit('copy_create(big_d)', globals=globals(), number=100)

2.1772674930034555

In [423]:
timeit('copy_comprehension(big_d)', globals=globals(), number=100)

9.350977392001369

In [424]:
timeit('copy_deepcopy(big_d)', globals=globals(), number=100)

108.81645335600479

# Custom classes and hashing ... keys in dictionary ... a key vlaue item inthe dictionary ... resizin gthe dictionar andos on .. has(key) ... mod dictionary size ( allocatd) .. more empty slot .. resize the diitona .. every time ... has table ... put ke ynan dvalu e.. generate a probe secqu .. ietreat over probe sequenc e insex l.. is ht slot at tha inex empty ... stor a nw itm hash, key , value l..hash collision .. contiou iteratio to llo fo t an emp sloth .. the mor has cllion colllen .. mor inficeitn .. ... find a key in diction ... has(key) .. generat probe sequenc e.. initial index .. sequence o f vlaid inices . loop over pobe sequence .. is lopt empty .. yes .. key does not exist . in dictionary ... little moer complex veaue ofo deletion s.. check th ehashes equal .. and are keys equel -- .

In [425]:
a = 3
b = 3

In [426]:
a == b

True

In [427]:
hash(a) == hash (b)

True

In [428]:
t1  = (1,2)
t2 = (1, 2)

In [429]:
t1 == t2

True

In [430]:
t1 is t2

False

In [431]:
hash(t1) == hash(t2)

True

In [433]:
class Person:
    def __init__(self, name):
        self.name = name

In [435]:
p1 = Person('Sam')
p2 = Person('Sam')

In [436]:
p1 == p2

False

In [437]:
p1 is p2

False

In [438]:
p1 = p3 = Person('Sam')

In [439]:
p1 == p3, p1 is p3

(True, True)

In [440]:
p1.name, p2.name

('Sam', 'Sam')

In [441]:
hash(p1) == hash(p2)

False

In [442]:
p1 is p2 is p3

False

In [443]:
class Person:
    def __init__(self, name):
        self.name = name 
        
    def __eq__(self, other):
        if isinstance(other, Person):
            return self.name == other.name
        else:
            return False

In [444]:
p1 = Person('Sam')
p2 = Person('Sam')

In [445]:
p1 == p2

True

In [446]:
hash(p1) == hash(p2)

TypeError: unhashable type: 'Person'

In [453]:
class Person:
    def __init__(self, name):
        self.name = name 
        
    def __eq__(self, other):
        if isinstance(other, Person):
            return self.name == other.name
        else:
            return False 
        
    def __hash__(self):
        return hash(self.name)

In [454]:
p1 = Person('Sam')
p2 = Person('Sam')

In [455]:
hash(p1) == hash(p2)

True

In [457]:
import sys # python truncate the numbe o fbist .. 

sys.hash_info.width

64

In [458]:
sys.hash_info.modulus

2305843009213693951

In [459]:
2305843009213693951 % 64

63

In [462]:
p1.__hash__()  % sys.hash_info.width

51

# Custom classes and hashing ...

In [463]:
t1 = (1,2,3)
t2 = (1,2,3)

In [464]:
d ={t1:100}

In [465]:
d[t1]

100

In [466]:
d[t2]

100

In [467]:
# the samek key ...

In [475]:
class Person:
    def __init__(self, name, age):
        self.name =name
        self.age = age 
        
    def __repr__(self):
        return f"Peson(name={self.name}, age={self.age})"

In [476]:
p1 = Person('Sam', 1)
p2 = Person ("Eric", 33)

In [477]:
persons = {p1: 'Sam object', p2:'Eric object'}

In [478]:
for k in persons.keys():
    print(k)

Peson(name=Sam, age=1)
Peson(name=Eric, age=33)

In [479]:
persons[('Sam', 1)]

KeyError: ('Sam', 1)

In [ ]:
persons[p1]

'Sam object'

In [480]:
class Person:
    def __init__(self, name, age):
        self.name =name
        self.age = age 
        
    def __repr__(self):
        return f"Peson(name={self.name}, age={self.age})"
    
    def __eq__(self, other):
        if isinstance(other, Person):
            return self.name == other.name and self.age == other.age 
        else:
            return False

In [485]:
p1 = Person('Sam', 1)
p2 = Person('Sam', 1)

In [486]:
p1 is p2

False

In [487]:
p1 == p2

True

In [488]:
persons = {p1: 'Sam p1'}

TypeError: unhashable type: 'Person'

In [494]:
class Person:
    def __init__(self, name, age):
        self.name =name
        self.age = age 
        
    def __repr__(self):
        return f"Peson(name={self.name}, age={self.age})"
    
    def __eq__(self, other):
        if isinstance(other, Person):
            return self.name == other.name and self.age == other.age 
        else:
            return False
        
    def __hash__(self):
        return 100

In [495]:
p1 = Person('Sam', 1)
p2 = Person('Sam', 1)

In [496]:
hash(p1)

100

In [497]:
class Person:
    def __init__(self, name, age):
        self.name =name
        self.age = age 
        
    def __repr__(self):
        return f"Peson(name={self.name}, age={self.age})"
    
    __hash__ = None

In [498]:
p1 = Person('Sam', 1)
p2 = Person('Sam', 1)

In [499]:
hash(p1)

TypeError: unhashable type: 'Person'

In [524]:
class Person:
    def __init__(self, name, age):
        self.name =name
        self.age = age 
        
    def __repr__(self):
        return f"Peson(name={self.name}, age={self.age})"
    
    def __eq__(self, other):
        if isinstance(other, Person):
            return self.name == other.name and self.age == other.age 
        else:
            return False
        
    def __hash__(self):
        return hash((self.name, self.age))

In [532]:

p1 = Person('Sam', 1)
p2 = Person('Eric', 2)

In [533]:
persons = {p1: 'Sam object', p2:'Eric object'}

In [534]:
hash(p1)

7505584853223426360

In [535]:
persons[Person('Sam', 1)]

'Sam object'

In [536]:
persons[p2] == persons[p1]

False

In [537]:
persons

{Peson(name=Sam, age=1): 'Sam object', Peson(name=Eric, age=2): 'Eric object'}

In [538]:
persons[Person('Eric', 2)]

'Eric object'

# collision .. in dictionary...

In [539]:
class Person:
    def __init__(self, name, age):
        self.name =name
        self.age = age 
        
    def __repr__(self):
        return f"Peson(name={self.name}, age={self.age})"
    
    def __eq__(self, other):
        if isinstance(other, Person):
            return self.name == other.name and self.age == other.age 
        else:
            return False
        
    def __hash__(self):
        return 100

In [540]:

p1 = Person('Sam', 1)
p2 = Person('Eric', 2)

In [541]:
persons = {p1: 'Sam obj', p2:"Eric obj"}

In [542]:
persons

{Peson(name=Sam, age=1): 'Sam obj', Peson(name=Eric, age=2): 'Eric obj'}

In [544]:
persons[Person('Sam', 1)]

'Sam obj'

In [547]:
class Number:
    def __init__(self, x):
        self.x = x 
        
    def __eq__(self, other):
        if isinstance(other, Number):
            return self.x == other.x 
        else:
            return False 
        
    def __hash__(self):
        return hash(self.x)

In [548]:
class SameHash:
    def __init__(self, x):
        self.x = x 
        
    def __eq__(self, other):
        if isinstance(other, SameHash):
            return self.x == other.x 
        else:
            return False 
        
    def __hash__(self):
        return 100

In [549]:
numbers ={Number(i): 'some value ' for i in range(1000)}
same_hashes = {SameHash(i): 'some vlaue' for i in range(1000)} # constant hash .. collisho

In [551]:
numbers[Number(299)]

'some value '

In [552]:
same_hashes[SameHash(299)]

'some vlaue'

In [554]:
timeit('numbers[Number(500)]', globals=globals(), number=10_000)

0.010601345995382871

In [555]:
timeit('same_hashes[SameHash(500)]', globals=globals(), number=10_000)

0.9105649990015081

In [556]:
class Point:
    def __init__(self, x, y):
        self.x = x 
        self.y = y 
        
    def __repr__(self):
        return f'({self.x}, {self.y})'

In [557]:
pt = Point(1, 2)

In [558]:
pt

(1, 2)

In [563]:
points = {Point(0, 0): 'origin', Point(1,1):'second pt'}

TypeError: unhashable type: 'Point'

In [564]:
points

{(0, 0): 'origin', (1, 1): 'second pt'}

In [565]:
points[Point(0,0)]

TypeError: unhashable type: 'Point'

In [570]:
class Point:
    def __init__(self, x, y):
        self.x = x 
        self.y = y 
        
    def __repr__(self):
        return f'({self.x}, {self.y})'
    
    def __eq__(self, other):
        if isinstance(other, Point):
            return self.x == other.x and self.y == other.y 
        else:
            return False
        
    def __hash__(self):
        return hash((self.x, self.y))

In [574]:
points = {Point(0, 0): 'origin', Point(1,1):'second pt'}

In [575]:
points[Point(0,0)]

'origin'

In [576]:
class Point:
    def __init__(self, x, y):
        self.x = x 
        self.y = y 
        
    def __repr__(self):
        return f'({self.x}, {self.y})'
    
    def __eq__(self, other):
        if isinstance(other, tuple) and len(other) ==2:
            other = Point(*other)
        if isinstance(other, Point):
            return self.x == other.x and self.y == other.y 
        else:
            return False
        
    def __hash__(self):
        return hash((self.x, self.y))

In [577]:
points = {Point(0, 0): 'origin', Point(1,1):'second pt'}

In [578]:
points[Point(0,0)]

'origin'

In [580]:
points[0,0]

'origin'

In [582]:
pt1 = Point(0, 0)
pt2 = Point(1, 1)

In [583]:
points = {pt1: 'origin', pt2:'pt at (1,1)'}

In [584]:
pt1.x

0

In [585]:
pt1.x = 10

In [586]:
pt1

(10, 0)

In [588]:
for k,v in points.items():
    print(k,v)

(10, 0) origin
(1, 1) pt at (1,1)

In [589]:
k1= list(points.keys())[0]

In [590]:
k1

(10, 0)

In [591]:
hash(k1)

-3381654230262078061

In [592]:
hash(Point(10, 0))

-3381654230262078061

In [ ]:
class Person:
    def __init__(self, name, age):
        self.name =name
        self.age = age 
        
    def __repr__(self):
        return f"Peson(name={self.name}, age={self.age})"
    
    def __eq__(self, other):
        if isinstance(other, Person):
            return self.name == other.name and self.age == other.age 
        else:
            return False
        
    def __hash__(self):
        return 100

In [594]:
class Person:
    def __init__(self,id, name, age):
        self._id = id
        self.name =name
        self.age = age 
        
    def __repr__(self):
        return f"Peson(id ={self._id}, name={self.name}, age={self.age})"
    
    def __eq__(self, other):
        if isinstance(other, Person):
            return self._id == other._id  
        else:
            return False
        
    def __hash__(self):
        return hash(self._id)

In [595]:
p1 = Person('Sam', 'Me', 33)

In [596]:
persons = {p1: 'Sam obj'}

In [599]:
persons[p1]

'Sam obj'

In [600]:
persons[Person('Sam', 'You', 212)]

'Sam obj'

In [601]:
p1.name = 'Yes ou'

In [602]:
p1.age = 99

In [603]:
p1

Peson(id =Sam, name=Yes ou, age=99)

In [605]:
persons[Person('Sam', None, None)]

'Sam obj'