In [1]:
def myfunc(a, b):# parameters
    return a * b

In [2]:
myfunc(2,4) # arguments

8

In [3]:
x, y = 3, 4
myfunc(x,y)

12

In [4]:
# Module Scope ... positional arguments ... most comomn way of asssing aregumetn to parameters vai the order wehic pass the possing 

myfunc(b=-2, a=9)

-18

In [7]:
# Default values 
def func1(a, b = 100):
    return a*b

In [8]:
func1(10)

1000

In [10]:
func1(1,b=1)

1

In [12]:
def func2(a, b=100, c=2):
    return a*b*c

In [13]:
func2(3)

600

In [14]:
def myFunc(a, b=2,c=1):
    return a+b+c

In [15]:
myFunc(1.2)

4.2

In [17]:
#key word arguments or named argument
myFunc(a=1, c=33)

36

In [18]:
myFunc(1, c=8)

11

In [19]:
# Posistional arguments can be specified by using the parameters name wheerh or not the parameters have dewfual values

In [26]:
def func5(a=1, b=2, c=3):
    print("a {0} b: {1} c: {2}".format(a,b,c))
    return a*b*c

In [27]:
func5()

a 1 b: 2 c: 3

6

In [28]:
func5(3)

a 3 b: 2 c: 3

18

In [32]:
func5(a=2, c=4,b=9)

a 2 b: 9 c: 4

72

In [33]:
func5(1,3,c=0)

a 1 b: 3 c: 0

0

In [34]:
def func6(a,b,c):
    print("a={0}, b={1}, c={2}".format(a,b,c))

In [35]:
func6(4,5,6)

a=4, b=5, c=6

In [36]:
func6(1,2)

TypeError: func6() missing 1 required positional argument: 'c'

In [38]:
def func6(a,b=9,c=9
          ):
    print("a={0}, b={1}, c={2}".format(a,b,c))

In [40]:
func6(5,1,2)

a=5, b=1, c=2

In [41]:
func6(10, 20)

a=10, b=20, c=9

In [43]:
a =1
b=2
c=3

In [44]:
func6(a,b,c)

a=1, b=2, c=3

In [45]:
func6(10, c=3, b=20)

a=10, b=20, c=3

In [46]:
func6(10, c=33)

a=10, b=9, c=33

# Unpacking Tuples

## (1) not a tuple ... (1,) is a tuple ... 
# 1, is a tuple.. () ... only exception is when creting an empty tuple .. () or tuple()


## packed values revers t values are bunlded together in some way ...
## Tuples and List are obvious 

## any iterable is considered 

## unpacking is spliting apaccked values into indivisual variable cointi in list or tup

In [47]:
a, b, c = [1,2,3]

In [48]:
a,b,c

(1, 2, 3)

In [49]:
a

1

In [50]:
# unpacking take the position relatively from left handside to right hand side 
a, b, c = 'XYZ'

In [51]:
a,b,c

('X', 'Y', 'Z')

In [52]:
for e in 10, 20, 'ehllo':
    print(e)

10
20
ehllo

In [53]:
# Swapping a value of two variable 
# Traditional approach ... a .. b .. create a temp >>> a ... a = b , then , b = temp

In [59]:
a=3
b=5

In [60]:
temp = a
a = b
b = temp

In [61]:
a,b

(5, 3)

In [64]:
a,b = b,a # tuple ... reference to a variable

In [65]:
a,b

(5, 3)

In [66]:
d = {'key1': 1, 'key2': 2, 'key3':3}

In [70]:
for e,v in d:
    print(e, v)

ValueError: too many values to unpack (expected 2)

In [68]:
a,b,c = d

In [69]:
a,b,c

('key1', 'key2', 'key3')

In [71]:
# dictioary and sets are unordered type .. ulike list and tuple 

s = {'a','z','g'}
for c in s:
    print(c)

a
g
z

In [74]:
a,b,c = s # no ordering is there ...

In [75]:
a,b,c

('a', 'g', 'z')

In [76]:
a = (1,2,3)
type(a)

tuple

In [77]:
a = 1,2,3
type(a), a

(tuple, (1, 2, 3))

In [78]:
type(a)

tuple

In [79]:
a=(1)
type(a)

int

In [80]:
a = (1,)

In [81]:
type(a)

tuple

In [82]:
a = ()

In [83]:
type(a)

tuple

In [85]:
a,b,c = [1,'a', 3.14]

In [86]:
a,b,c

(1, 'a', 3.14)

In [88]:
(a,b) = (1, 2)

In [89]:
a, b = 10, 20

In [90]:
a,b

(10, 20)

In [93]:
a, b, c = 10, 20 ,30
a, b, c

(10, 20, 30)

In [94]:
a,b,c = 10, {1,2}, ['a','b'
                    ]
a,b,c

(10, {1, 2}, ['a', 'b'])

In [98]:
a, b = 10, 20
a, b

(10, 20)

In [99]:
a,b = b, a # create a tuple in memory and assign each position to the corresponding position 
a,b

(20, 10)

In [100]:
print(a, b)

20 10

# Unpacking iterables

In [101]:
for e in 'abc':
    print(e, end='')

abc

In [103]:
a,b,c = 'xyz'
a,b,c

('x', 'y', 'z')

In [104]:
s = {1,2,3} # order not matter
s[0]

TypeError: 'set' object is not subscriptable

In [105]:
s = {'m', 'h', 'm', 's'}
s

{'h', 'm', 's'}

In [106]:
for e in s:
    print(e)

h
s
m

In [110]:
d = {'a':1, 'b':2, 'c':3}

In [111]:
for e in d:
    print(e)

a
b
c

In [112]:
a, b, c = d

In [113]:
a, b, c

('a', 'b', 'c')

In [114]:
d = {'a':1, 'b':2, 'c':3, 'd':4}

In [115]:
a, b, c , d= d

In [116]:
a,b,c,d

('a', 'b', 'c', 'd')

In [117]:
a, b, c = d

ValueError: not enough values to unpack (expected 3, got 1)

In [118]:
# unpacking in dictionary the ordred isn not matter as lin set

In [120]:
d = {'a':1, 'b':2, 'c':3, 'd':4}

In [121]:
for e in d:
    print(e)

a
b
c
d

In [122]:
for e  in d.values():
    print(e)

1
2
3
4

In [124]:
a, b, c, d = d.values()

In [126]:
d = {'a':1, 'b':2, 'c':3, 'd':4}

In [130]:
for a,b in d.items():
    print('key={0}, vlaue={1}'.format(a, b))

key=a, vlaue=1
key=b, vlaue=2
key=c, vlaue=3
key=d, vlaue=4

# * unpacking ... 
## unpack the first value and the remainign to var 

## parallel assignment 

a, *b = l --> applyies to any iterable not only sequence type .. like set and dict ... 

## a, *b = [10, 3,4,5,65,6,] = a with -10 and b = [3,4,...]

## a, *b = 'xyz' 

a, b, *c = (1,2, ,3 45555,44)

a, b, *c, d = (1,2, ,3 45555,44, 'pytho')

In [131]:
l1 = [1, 2, 3]
l2 = [4,5,6]
l = [*l1, *l2]

In [132]:
l

[1, 2, 3, 4, 5, 6]

In [133]:
f1 = "mohammed"
f2 = 'hamdan'

fn = [*f1, *f2]
fn

['m', 'o', 'h', 'a', 'm', 'm', 'e', 'd', 'h', 'a', 'm', 'd', 'a', 'n']

In [134]:
# no ording n set 
s = {10, -99, 3, '30'}
s

{-99, 10, 3, '30'}

In [135]:
a, *b , c = s

In [136]:
a, b, c

(10, [3, -99], '30')

In [137]:
d1 = {'p':1, 'y':2}
d2 = {'t': 3, 'h':4}
d3 = {'h':5, 'o':6, 'n':7}

In [138]:
l = [*d1, *d2, *d3]
l

['p', 'y', 't', 'h', 'h', 'o', 'n']

In [141]:
d = {**d1, **d2, **d3} # keys should be unique so any duplicate will removed by merging two dictionaries

In [142]:
d

{'p': 1, 'y': 2, 't': 3, 'h': 5, 'o': 6, 'n': 7}

In [143]:
d1 = {'a':1, 'b':2}

In [144]:
d1

{'a': 1, 'b': 2}

In [145]:
# nested unpacking 

l = [1,2,[3,4]]

In [146]:
a, b, c = l
a,b,c

(1, 2, [3, 4])

In [147]:
a,b, (c,d) = l

In [148]:
a,b,c,d

(1, 2, 3, 4)

In [149]:
a, *b, (c,*d) = [1,2,3,'Python']

In [150]:
a, b, c, d

(1, [2, 3], 'P', ['y', 't', 'h', 'o', 'n'])

In [151]:
l = [1,2,3,4,5,6]

a = l[0]
b = l[1:]

In [152]:
a, b

(1, [2, 3, 4, 5, 6])

In [155]:
a, b = l[0], l[1:] # work for sequences only
a, b

(1, [2, 3, 4, 5, 6])

In [156]:
a, *b = l # work for all iterable l
a, b

(1, [2, 3, 4, 5, 6])

In [157]:
s = 'Python'

In [158]:
a, *b = s
a, b

('P', ['y', 't', 'h', 'o', 'n'])

In [159]:
t = ('a', 'b', 'c')

In [162]:
a, *b = t # packed as a list ...

In [163]:
a, b

('a', ['b', 'c'])

In [164]:
[a, b, c] = 'xcd'
a,b,c

('x', 'c', 'd')

In [168]:
a, b, *c, r = 'ProcessLookupError'
print(a,b,c, r)

P r ['o', 'c', 'e', 's', 's', 'L', 'o', 'o', 'k', 'u', 'p', 'E', 'r', 'r', 'o'] r

In [169]:
s = 'Python'

In [170]:
a, b, c, d = s[0], s[1], s[2:-1],s[-1]

In [171]:
print(a,b,c,d)

P y tho n

In [172]:
print(list(c))

['t', 'h', 'o']

In [173]:
l1 = [1,2,3]
l2 = [4,5,6]

l = [*l1, *l2]

In [174]:
l

[1, 2, 3, 4, 5, 6]

In [175]:
s = 'abc'

In [176]:
[*l1, *s]

[1, 2, 3, 'a', 'b', 'c']

In [177]:
s1 = {'x', 'y', 'z'}

In [178]:
s1

{'x', 'y', 'z'}

In [181]:
s1 = 'abt'
s2 = 'etx'
[*s1, *s2]

['a', 'b', 't', 'e', 't', 'x']

In [182]:
{*s1, *s2}

{'a', 'b', 'e', 't', 'x'}

In [183]:
s = {10, -88, 't'}

In [184]:
for i in s:
    print(i)

-88
10
t

In [186]:
a,b,c = s
a,b,c

(-88, 10, 't')

In [187]:
s

{-88, 10, 't'}

In [188]:
list(s)

[-88, 10, 't']

In [189]:
*c, = s

In [190]:
c

[-88, 10, 't']

In [193]:
s1 = {1,3,3}
s2={3,4,5}

In [194]:
s1+s2

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [195]:
c = {*s1, *s2}

In [196]:
c

{1, 3, 4, 5}

In [197]:
help(set)

Help on class set in module builtins:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      If the element is not a member, do nothing.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [198]:
s1.union(s2)

{1, 3, 4, 5}

In [200]:
{*s1, *s2}

{1, 3, 4, 5}

In [201]:
{*s1, *s2}

{1, 3, 4, 5}

In [202]:
d1 = {'key1':1, 'key2':2}
d2 ={'key2':3, 'key4':4}

In [203]:
{*d1, *d2}

{'key1', 'key2', 'key4'}

In [205]:
{**d1, **d2} # d2 was merged last so override the value of key2

{'key1': 1, 'key2': 3, 'key4': 4}

In [206]:
{'a':1, 'b':2, **d1, 'c':3}

{'a': 1, 'b': 2, 'key1': 1, 'key2': 2, 'c': 3}

In [207]:
a, b, e = [1, 2, 'xy']

In [208]:
a, b, e

(1, 2, 'xy')

In [209]:
c,d = e

In [210]:
c,d

('x', 'y')

In [211]:
a, b, (c,d)= [1,2,'yi']

In [212]:
a,b,c,d

(1, 2, 'y', 'i')

In [214]:
a,*b,(c,d,*e)= [1,2,3,'property']

In [215]:
a,b,c,d,e

(1, [2, 3], 'p', 'r', ['o', 'p', 'e', 'r', 't', 'y'])

In [218]:
l = [1,2,3,4,'ArithmeticError']
a,*b, (c,d,*e) = l

In [219]:
a,b,c,d,e

(1,
 [2, 3, 4],
 'A',
 'r',
 ['i', 't', 'h', 'm', 'e', 't', 'i', 'c', 'E', 'r', 'r', 'o', 'r'])

# args * 

##

In [220]:
def func1(a,b,*c):
    print(a,b,c)

In [221]:
func1(1,2)

1 2 ()

In [222]:
func1(1,2,3,4,5,6,6,7,7,89,9,0)

1 2 (3, 4, 5, 6, 6, 7, 7, 89, 9, 0)

In [230]:
def avg(*args):
    c = len(args)
    if c == 0:
        return 0
    return sum(args)/c

In [231]:
avg()

0

In [232]:
avg(2,2,4,4)

3.0

In [233]:
def avg(*args):
    c = len(args)
    return c and sum(args)/c
    return sum(args)/c

In [234]:
avg(2,2,4,4)

3.0

In [235]:
avg()

0

In [246]:
def avg(a, *args):
    c = len(args) + 1
    return c and (sum(args) + a) /c

In [247]:
avg(2,2,4,4)

3.0

In [248]:
avg()

TypeError: avg() missing 1 required positional argument: 'a'

In [255]:
def func1(a,b,c, *args):
    print(a,b,c, args)

In [256]:
l = [1,2,3, 34,5,6,8,9]

In [257]:
func1(*l)

1 2 3 (34, 5, 6, 8, 9)

In [258]:
# mandatory keyword arguments 

def func(a, b, *args, d):
    ...

In [259]:
func(1,2, 5,6,6,7,8)

TypeError: func() missing 1 required keyword-only argument: 'd'

In [260]:
func(1,2,3,5,7,87,d=2)

In [261]:
func(1,2,d=9)

In [262]:
def func(a, b=1, *args, d, e=True):
    ...

In [263]:
def func2(a, b=1, *, d , e=True):
    ...

In [264]:
def func1(a,b,c):
    print(a,b,c)

In [265]:
func1(1,2,3)

1 2 3

In [266]:
func1(1, c=2,b=99)

1 99 2

In [270]:
def func1(a,b, *args, d):
    print(a,b,args,d)

In [271]:
func1(2,3,66,44,d=77)

2 3 (66, 44) 77

In [2]:
def func(a,b=200, *args, d=0, e):
    print(a,b,args, d,e)

In [3]:
func(3, 9, 0,0,0,0,0, e='all')

3 9 (0, 0, 0, 0, 0) 0 all

# **kwargs 
## *args to scoop up variable amount of remaining posiitonal arguments  - tuple
## **kwargs scoop up a variable amount of remain keywrd argumens - dictionary
## **kwargs specifid even fi the positina argum have not been exhausted 
## no parameters can come after ** kwargs

In [6]:
def func(*, d, **kwargs):
    ...
    print(d, kwargs)

In [7]:
func(d=1, a=2, b=3)

1 {'a': 2, 'b': 3}

In [8]:
func(d=1)

1 {}

In [9]:
def func(**kwargs):
    print(kwargs)

In [10]:
func()

{}

In [13]:
func()

{}

In [14]:
def func(**others):
    print(others)

In [15]:
func(a=1, b=2, c=3)

{'a': 1, 'b': 2, 'c': 3}

In [16]:
def func(*args, **kwargs):
    print(args)
    print(kwargs)

In [17]:
func(1,2,x=55, y=66)

(1, 2)
{'x': 55, 'y': 66}

In [18]:
func(1,2,x=55, y=66,3)

SyntaxError: positional argument follows keyword argument (2679190367.py, line 1)

In [21]:
def func(a, b, *, **d): # end of the line of poisitonal args after *
    print(a,b)

SyntaxError: named arguments must follow bare * (620547739.py, line 1)

In [20]:
func(a,b,d)

NameError: name 'a' is not defined

In [22]:
func(1, 2, x=100, y = 200, d = 20)

TypeError: func() got an unexpected keyword argument 'x'

In [23]:
def func(a,b, **kwargs):
    print(a,b, kwargs)

In [24]:
func(1,2, x=3,y=9)

1 2 {'x': 3, 'y': 9}

# positional arguments 
## specific may have default values 
## *args collect and exhuats remaining posintal argumen 
* indication teh end of tpisn aragedm u,

kewwoard-only arguemnt ... after the positional argumen have been exhausted 

**kwargs 

*args

In [25]:
a, b, c = 10 
*args / * kw1, kw2=100 **kwargs

SyntaxError: invalid syntax (1332974137.py, line 2)

In [26]:
def func(a, b=10):
    ...

In [27]:
func(1, 2, 'x', 'y', 'z')

TypeError: func() takes from 1 to 2 positional arguments but 5 were given

In [34]:
def func(a, b=2, c=3, *args, d=9):
    print(a,b,c, args, d)

In [35]:
func(1,2,3,'s','t','z')

1 2 3 ('s', 't', 'z') 9

In [36]:
func(1,'x','c',5,6,7)

1 x c (5, 6, 7) 9

In [37]:
help(print())

Help on NoneType object:

class NoneType(object)
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [38]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [39]:
print(1,2,3, sep='-')

1-2-3

In [41]:
print(1,2,3, sep='-', end=' *** ')
print(5,6,7, sep='-')

1-2-3 *** 5-6-7

In [48]:
def cal_av(*args, log_console=False):
    hi = int(bool(args)) and max(args)
    lo = int(bool(args)) and min(args)
    #lo = min(args) if len(args) > 0 else 0
    # if len(args) ==0:
    #     lo = 0
    # else:
    #     lo = min(args)
    print(hi, lo)
    avg = (hi + lo)/2
    if log_console:
        print('high={0}, low-{1}, avg={2}'.format(hi, lo, avg))
    else:
        return avg

In [51]:
avg = cal_av(0,2,3,4,5)

5 0

In [52]:
avg

2.5

In [54]:
def func(*, c,d):
    ...

## A simple Function Timer

In [55]:
import time

In [77]:
def time_it(fn, *args, rep=1, **kwargs):
    print(args, rep, kwargs)

In [57]:
time_it(print, 1,2,3, sep=' - ', end=' *** ')

(1, 2, 3) {'sep': ' - ', 'end': ' *** '}

In [58]:
def time_it(fn, *args, **kwargs):
    fn(args, kwargs)
    #print(args, kwargs)

In [60]:
time_it(print, 1,2,3, sep=' - ', end=' *** ')

(1, 2, 3) {'sep': ' - ', 'end': ' *** '}

In [88]:
def time_it(fn, *args, **kwargs):
    fn(*args, **kwargs)
    #print(args, kwargs)

In [62]:
time_it(print, 1,2,3, sep=' - ', end=' *** ')

1 - 2 - 3 ***

In [63]:
def time_it(fn, *args,rep=1, **kwargs):
    for i in range(rep):
        
        fn(*args, **kwargs)

In [64]:
time_it(print, 1,2,3, sep=' - ', end=' *** \n ', rep=5)

1 - 2 - 3 ***
 1 - 2 - 3 ***
 1 - 2 - 3 ***
 1 - 2 - 3 ***
 1 - 2 - 3 ***

In [65]:
def time_it(fn, *args,rep=1, **kwargs):
    start = time.perf_counter()
    for i in range(rep):
        fn(*args, **kwargs)
    end = time.perf_counter()
    return (end- start) / rep

In [66]:
time_it(print, 1,2,3, sep=' - ', end=' *** \n ', rep=5)

1 - 2 - 3 ***
 1 - 2 - 3 ***
 1 - 2 - 3 ***
 1 - 2 - 3 ***
 1 - 2 - 3 ***

0.00014299339964054524

In [67]:
def compute_powers_1(n, *, start=1, end):
    # foor loop
    result = []
    
    for i in range(start, end):
        result.append(n**i)
    return result

In [68]:
compute_powers_1(2, end=6)

[2, 4, 8, 16, 32]

In [69]:
def compute_powers_2(n, *, start=1, end):
    return [n **i for i in range(start, end)]

In [70]:
compute_powers_1(2, end=6)

[2, 4, 8, 16, 32]

In [71]:
def compute_powers_2(n, *, start=1, end):
    # using a generator expression 
    return (n **i for i in range(start, end))

In [72]:
list(compute_powers_1(2, end=6))

[2, 4, 8, 16, 32]

In [79]:
time_it(compute_powers_1, 2, start=0, end=20000, rep=5)

(2,) 5 {'start': 0, 'end': 20000}

In [78]:
time_it(compute_powers_2, n= 2, start=0, end=20000, rep=5)

() 5 {'n': 2, 'start': 0, 'end': 20000}

In [89]:
def compute_powers_2(n, *, start=1, end):
    # using a generator expression 
    return list((n **i for i in range(start, end)))

In [90]:
a = (2**i for i in range(5))

In [91]:
a

In [92]:
list(a)

[1, 2, 4, 8, 16]

In [93]:
time_it(compute_powers_2, n=2, start=0, end=20000)

# Default value ...
## when loaded all the module all the code in the module will be executed 

## def func(a=10): print(a) ... the default value is evaluated and created and func refrences it tha integer object 10 is evaluated / created and is assigned as th edefault for a 

#### func() the func

In [94]:
from datetime import datetime

In [95]:
def log(msg, *, dt=datetime.utcnow()):
    print('{0} : {1}'.format(dt, msg))

In [96]:
log('hi')

2022-11-20 00:19:08.914147 : hi

In [97]:
log('hello')

2022-11-20 00:19:08.914147 : hello

In [99]:
# not set dt to time instead to None ... dt = None -> as optional argumetns 
## id dt is None, set it to the current datet/time
## otherweise use the caller

In [112]:
def log(msg, *, dt=None):
    # dt = dt or datetime.utcnow()
    if not dt:
        dt = datetime.utcnow()
    print('{0} : {1}'.format(dt, msg))

In [104]:
log('hi')

2022-11-20 00:23:38.530010 : hi

In [105]:
log('hi')

2022-11-20 00:23:39.090137 : hi

In [106]:
from datetime import datetime

In [108]:
print(datetime.utcnow())

2022-11-20 00:24:36.363101

In [109]:
def log(msg, *, dt=datetime.utcnow()):
    print('{0}: {1}'.format(dt, msg))

In [110]:
log('hill')

2022-11-20 00:25:42.246868: hill

In [115]:
log('Me')

2022-11-20 00:27:41.896440 : Me

In [116]:
def log(msg, dt=None):
    if not dt:
        dt = datetime.utcnow()
    print('{0}: {1}'.format(dt, msg))

In [119]:
def log(msg, dt=None):
    dt = dt or datetime.utcnow()
    print('{0}: {1}'.format(dt, msg))

In [120]:
log('h')

2022-11-20 00:30:03.041065: h

In [121]:

log('hello')

2022-11-20 00:30:03.877137: hello

In [122]:
myList = [1, 2, 3]

In [123]:
def func(a=myList):
    print(a)

In [124]:
func()

[1, 2, 3]

In [125]:
func(['a','a'])

['a', 'a']

In [126]:
myList

[1, 2, 3]

In [127]:
func()

[1, 2, 3]

In [128]:
func()

[1, 2, 3]

# Parameter Defauls - Berware 2

In [129]:
def add_item(name, quantity, unit, grocery_list):
    grocery_list.append('{0} ({1} {2})'.format(name, quantity, unit))
    return grocery_list

In [130]:
store1 = []
store2 = []

In [131]:
add_item('banana', 2, 'units', store1)
add_item('apple', 1, 'liter', store1)

['banana (2 units)', 'apple (1 liter)']

In [132]:
store1

['banana (2 units)', 'apple (1 liter)']

In [133]:
add_item('Python', 1, 'mid', store2)

['Python (1 mid)']

In [134]:
store2

['Python (1 mid)']

In [136]:
del store2, store1

In [138]:
store2

NameError: name 'store2' is not defined

In [135]:
def add_item(name, quantity, unit, grocery_list=[]):
    grocery_list.append('{0} ({1} {2})'.format(name, quantity, unit))
    return grocery_list

In [140]:
store1 = add_item('banana', 2, 'units')

In [141]:
store2=add_item('Python', 1, 'mid')

In [142]:
store1

['banana (2 units)', 'Python (1 mid)']

In [143]:
store2

['banana (2 units)', 'Python (1 mid)']

In [144]:
def add_item(name, quantity, unit=1, grocery_list=None): # don't use mutable Data type as paramter ... be aware
    if not grocery_list:
        grocery_list = []
    grocery_list.append('{0} ({1} {2})'.format(name, quantity, unit))
    return grocery_list

In [145]:

store1 = add_item('banana', 2, 'units')
store2=add_item('Python', 1, 'mid')

In [146]:
store1

['banana (2 units)']

In [147]:
store2

['Python (1 mid)']

In [148]:
def facctorial(n):
    if n <1:
        return 1
    else:
        print('calculation {0}!'.format(n))
    return n * facctorial(n-1)

In [149]:
facctorial(3)

calculation 3!
calculation 2!
calculation 1!

6

In [150]:
facctorial(3)

calculation 3!
calculation 2!
calculation 1!

6

In [177]:

def f(n, *, cc):
    if n <1:
        return 1
    elif n in cc:
        return cc[n]
    else:
        print('calculating {0}!'.format(n))
        result = n * f(n-1, cc=cc)
        cc[n] = result
    return result

In [178]:
cc = {}

In [179]:
f(3, cc=cc)

calculating 3!
calculating 2!
calculating 1!

6

In [180]:
f(3, cc=cc)

6

In [182]:
cc

{1: 1, 2: 2, 3: 6, 4: 24}

In [181]:
f(4, cc=cc)

calculating 4!

24

In [184]:

def fun(cc, cc={})
    if n <1:
        return 1
    elif n in cc:
        return cc[n]
    else:
        print('calculating {0}!'.format(n))
        result = n * f(n-1)
        cc[n] = result
    return result

SyntaxError: expected ':' (3336982325.py, line 1)

In [185]:
bool('') + 4

4

In [186]:
def factor(n, cache={}): # mutable default parameters .... memoization ... reusable ... caching values 
    if n < 1:
        return 1
    elif n in cache:
        return cache[n]
    
    else:
        print('calculating {0}!'.format(n))
        result = n * factor(n-1)
        cache[n] = result 
        return result

In [187]:
factor(3)

calculating 3!
calculating 2!
calculating 1!

6

In [188]:
factor(3)

6

In [189]:
factor(4)

calculating 4!

24